
$primary: #fd5402;
$secondary: #244cdf;
$tertiary: #7c35fe;
$dark: #333333;


// body, h1, h2, h3, h4, h5, h6 {
// 	font-family: 'Source Sans Pro', sans-serif;
// }

.text-purple {
	color:#663190;
}
.text-orange {
	color:#f26527;
}

.purple-bg {
	background-color: $tertiary;
}

.bg-blue {
	background-color: #1879d5;
}

.form-placeholder-one {
	margin-top: -250px;
}

@media only screen and (max-width : 768px) {
	.form-placeholder-one {
		margin-top: 0;
	}
}
.tablet {
	min-height: 500px;
}

.jumbotron {
	background-color: #E9E4E8;
	border-bottom: 10px solid #eeeeee;
}

.digitalglue-bg {
	// background: url(../../images/digitalglue-bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
}

.bmd-label-static {
	color: #212529;
}

.jumbotron .display-2 {
	font-weight: 700;
}


.input-round {
	border-radius: 25px;
	-khtml-border-radius: 25px;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	border-width: 0;
	border: 1px solid #cccccc;
  }

  .radius {
	border-radius: 25px !important;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-khtml-border-radius: 25px;
  }

  .box-shadow {
	-webkit-box-shadow: 3px 26px 55px -20px rgba(0,0,0,0.43);
	-moz-box-shadow: 3px 26px 55px -20px rgba(0,0,0,0.43);
	box-shadow: 3px 26px 55px -20px rgba(0,0,0,0.43);
  }

  // .navbar {
	//   box-shadow: none;
	// }

	.btn-primary {
		background: $primary !important;
		&:hover {
			background: $secondary !important;
		}
	}

	footer {
		.bg-dark {
			background: $secondary !important;
		}
	}

	.alert-warning {
		background: $secondary;
		color: #ffffff;
		a {
			color: #ffffff;
			text-decoration: underline;
		}
	}

	.hide {
		display: none;
	}

	.code-input {
		position: relative;
		flex: 1 1 auto;
		width: 1%;
		margin-bottom: 0;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
		border: 1px solid #fff;
		font-size: 26px;
		font-weight: 600;
	}

	.copy-btn {
		margin-bottom: 0;
		border-top-right-radius: 30px !important;
		border-bottom-right-radius: 30px !important;
		box-shadow: none !important;
	}

	.complete {
	 min-height: calc(100vh - 110px);
	}