/* colors */
.bg-primary {
  background: #253E68 !important; }

.bmd-layout-backdrop {
  background-color: rgba(0, 0, 0, 0); }

.full-height {
  min-height: 100vh; }

.bmd-layout-drawer > header .navbar-brand {
  padding: 30px 5px 20px;
  margin: 0; }

.breadcrumb {
  padding: .25rem 0.75rem; }

[class*=" bmd-label"], [class^=bmd-label] {
  color: #253E68; }

.custom-multiselect {
  height: 7.9rem; }

.toptop-right-controls {
  display: block;
  position: absolute;
  top: 0;
  left: 0; }

.table .checkbox label .checkbox-decorator {
  top: -.4em; }

.table tr td {
  position: relative; }
  .table tr td .badge {
    cursor: default; }
  .table tr td .btn {
    margin: 0 !important;
    padding: 0 !important; }
    .table tr td .btn i {
      margin: 0 !important;
      padding: 0 !important; }
  .table tr td a.table-action {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 1rem; }

.badge-draft {
  background: #ffab00;
  color: #fff; }
