/* - - - - - - - - - - - - - - - - - - - - -

 Title : Microsoft Theme
 Author : Adrian Amante
 URL : https://oneaffiniti.com

 Last Updated : 

- - - - - - - - - - - - - - - - - - - - - */

#container, 
.wufoo {
    background: #f65314;
    color: #ffffff !important;
}

.wufoo .info {
    display: none;
}

.wufoo li.section div {
    color: #ffffff !important;
}

.wufoo li.focused {
    background: transparent !important;
}

.wufoo label.desc, 
.wufoo legend.desc, 
.wufoo label.choice,
.wufoo li div label, 
.wufoo li span label,
.wufoo li span,
.wufoo input.file {
    color: #ffffff !important;
}

.wufoo input.text, 
.wufoo input.search, 
.wufoo textarea.textarea
{
    padding: 7px;
    outline: none;
    border: none; 
    border-width: 0; 
    box-shadow: none;
}

.wufoo li.complex div span.right select {
    padding: 6px 7px;
    outline: none;
    border: none; 
    border-width: 0; 
    box-shadow: none;
}

.wufoo textarea.textarea {
    min-width: calc(100% - 17px);
    max-width: calc(100% - 17px);
}

.wufoo select.select {
    padding: 6px 4px;
    outline: none;
    border: none; 
    border-width: 0; 
    box-shadow: none;
}

.wufoo li.buttons input {
background-color: #00a1f1; /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* font-weight: 600; */
}

.wufoo li.buttons input:hover {
    background-color: #006ea5;
}
