$navy: #253E68;

/* colors */
.bg-primary {
  background: $navy !important;
}

.bmd-layout-backdrop {
  background-color: rgba(0,0,0,0);
}

.full-height {
  min-height: 100vh;
}

// nav bar styles
.bmd-layout-drawer>header .navbar-brand {
  padding: 30px 5px 20px;
  margin: 0;
}

//breadcrumb styles
.breadcrumb {
  padding: .25rem 0.75rem;
}

//form styles

[class*=" bmd-label"], [class^=bmd-label] {
  color: $navy;
}

.custom-multiselect {
  height: 7.9rem;
}

// buttons contols
.toptop-right-controls {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}


// table styles
.table {
    .checkbox {
      label {
        .checkbox-decorator {
          top:-.4em;
        }
      }
    }
    tr {
      td {
        position: relative;
        .badge {
          cursor: default;
        }
        .btn {
          margin: 0 !important;
          padding: 0 !important;
          i {
            margin: 0 !important;
            padding: 0 !important;
          }
        }
        // &:last-child {
        //   display: none;
        // }
        a {
          &.table-action {
            margin: 0;
            padding: 0;
            position: absolute;
            // top: 0;
            right: 1rem;
            // display: block;
          }
        }
      }
      // &:hover {
      //   td:last-child {
      //     display: block;
      //     float: right;
      //   }
      // }
    }
  }


  .badge-draft {
    background: #ffab00;
    color: #fff;
  }