$dark: #373838;
$black: #000000;
$red: #c20047;
$gold: #cba846;
$white: #ffffff;
$light: #f5f5f5;
$grey: #cccccc;

.bg-dark {
  background: $dark !important;
}
.bg-black {
  background: $black !important;
}
.bg-primary {
  background: $red !important;
}
.bg-secondary {
  background: $gold !important;
}
.text-primary {
  color: $red !important;
}

.pointer {
  cursor:  !important;
}

.btn.btn-primary {
  background: $red;
  border-color: $red;
  color: $white;
  cursor: pointer;
  &:hover {
    background: $gold;
    border-color: $gold;
    color: $white;
  }
}

a {
  color: $red;
  &:hover {
    color: $gold;
  }
}

.article-links {
  list-style: none;
  padding-left: 1.1rem;
  li {
    padding: 0;
    margin: 0 0 0.5rem 0;
    text-indent: -0.6rem;
    a {
      padding: 0 0 00;
      margin: 0;
      display: block;
    }
  }
}

.navbar-dark .navbar-nav .nav-link {
  text-transform: uppercase;
  color: $white;
}
// .navbar-dark .navbar-nav .active > .nav-link,
// .navbar-dark .navbar-nav .nav-link.active,
// .navbar-dark .navbar-nav .nav-link.show,
// .navbar-dark .navbar-nav .show > .nav-link {
//   color: $red;
// }
.navbar-dark .navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;
    line-height:1rem;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: $gold;
}
.navbar-dark .navbar-nav .active .nav-link {
  color: $gold;
}
.navbar {
  &.bg-dark {
    background: $black !important;
  }
  .logos {
    list-style: none;
    // margin: 0 auto;
    margin: 0;
    padding: 10px 0;
    li {
      float: left;
      a {
        padding: 5px 10px 5px 5px;
        img {
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
          &.dicker {
            width: 160px;
            height: auto;
          }
          &.hp {
            width: 62px;
            height: auto;
          }
        }
      }
    }
  }
}

.index {
  background: $black;
  .navbar {
    .logos {
      margin: 0 auto;
      padding: 5px;
    }
  }
  .jumbotron {
    height: calc(100vh - 108px);
    min-height: calc(100vh - 108px);
    margin: 108px 0 0 0;
    .container-fluid {
      max-width: 1400px;
      h1 {
        font-size: 3.5rem;
        // font-weight: 600;
      }
      .form-container {
        margin-bottom: 25%;
      }
    }
  }
}
.page {
  .logos {
    margin: 0 auto;
    padding: 5px;
  }
  .main-navigation {
    top: 98px;
    background: $red;
    border-color: $red;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .navbar {
      .navbar-toggler {
        margin: 0 auto;
        color: #ffffff;
      }
  }
  &.scrolled {
    .main-navigation {
      top: 55px;
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease;
    }
    .navbar {
      padding-top: 0;
      padding-bottom: 0;
      .logos {
        li {
          a {
            img {
              &.dicker {
                width: 100px;
              }
              &.hp {
                width: 38px;
              }
            }
          }
        }
      }
    }
  }
}

.jumbotron {
  margin-top: 108px;
  .lead {
    font-size: 1.5rem;
  }
  &.main-jumbotron {
    // background: url("https://pr-cdn.oneaffiniti.com/upload/general/20181002/security.jpg")
    background: url("https://pr-cdn.oneaffiniti.com/upload/general/20181011/index_background.jpg")
    no-repeat center center fixed;
    background-size: cover;
    min-height: 600px;
    .lead {
      font-size: 1.5rem;
    }
  }
  &.home-jumbotron {
    margin-top: 140px;
    background: url("http://www8.hp.com/us/en/images/HP_MDP_D_SecurityPage_HeroBanner_02_tcm245_2539546_tcm245_2540313_tcm245-2539546.jpg")
      50% 50% / cover no-repeat scroll rgb(98, 112, 119);
      .col {
        min-height: 600px;
        h1 {
          font-size: 3.2rem;
        }
        p {
          font-size: 2rem;
        }
      }
    a {
      &.play-btn {
        width: 150px;
        height: 150px;
        display: block;
        // margin: 50px auto 5px;
        padding: 0;
        opacity: 0.7;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  &.pc-jumbotron {
    margin-top: 0;
    margin-bottom: 0;
    // background: url("http://www8.hp.com/us/en/images/D_2_tcm245_2539975_tcm245_2540313_tcm245-2539975.jpg")
    //   50% 50% / cover no-repeat scroll rgb(98, 112, 119);
    background: url("https://pr-cdn.oneaffiniti.com/upload/general/20181008/matrix.jpg")
      50% 50% / cover no-repeat scroll rgb(98, 112, 119);
    .col {
      min-height: 600px;
      h1 {
        font-size: 3.2rem;
      }
      p {
        font-size: 2rem;
      }
    }
  }
  &.heading-jumbotron {
     margin-top: 140px;
    background: $light;
  }
  &.print-jumbotron {
    margin-top: 0;
    margin-bottom: 0;
    // background: url("http://www8.hp.com/us/en/images/D_2_tcm245_2539975_tcm245_2540313_tcm245-2539975.jpg")
    //   50% 50% / cover no-repeat scroll rgb(98, 112, 119);
    background: url("https://pr-cdn.oneaffiniti.com/upload/general/20181008/print.jpg")
      50% 100% / cover no-repeat scroll rgb(98, 112, 119);
    min-height: 750px;
    h1 {
      font-size: 3rem;
    }
    .lead {
      font-size: 1.5rem;;
    }
  }
  &.heading-jumbotron {
     margin-top: 140px;
    background: $light;
  }
  &.blog-experts {
    margin-top: 140px;
    margin-bottom: 0;
    background: url("http://www8.hp.com/us/en/images/HP_MDP_D_SecurityPage_HeroBanner_02_tcm245_2539546_tcm245_2540313_tcm245-2539546.jpg")
      50% 50% / cover no-repeat scroll rgb(98, 112, 119);
    .col {
      min-height: 300px;
      h1 {
        font-size: 3.5rem;;
      }
      p {
        font-size: 2rem;
      }
    }
  }
  &.blog-learn {
    margin-top: 140px;
    margin-bottom: 0;
    background: url("https://pr-cdn.oneaffiniti.com/upload/general/20181017/secso.jpg")
      50% 50% / cover no-repeat scroll rgb(98, 112, 119);
    .col {
      min-height: 300px;
      h1 {
        font-size: 3.5rem;;
      }
      p {
        font-size: 2rem;
      }
    }
  }
  &.blog-resources {
    margin-top: 140px;
    margin-bottom: 0;
    background: url("https://pr-cdn.oneaffiniti.com/upload/general/20181017/Everyone_banner6.jpg")
      50% 50% / cover no-repeat scroll rgb(98, 112, 119);
    .col {
      min-height: 300px;
      h1 {
        font-size: 3.5rem;;
      }
      p {
        font-size: 2rem;
      }
    }
  }
  &.blog-help {
    margin-top: 140px;
    margin-bottom: 0;
    background: url("https://pr-cdn.oneaffiniti.com/upload/general/20181017/help.png")
      50% 50% / cover no-repeat scroll rgb(98, 112, 119);
    .col {
      min-height: 300px;
      h1 {
        font-size: 3.5rem;;
      }
      p {
        font-size: 2rem;
      }
    }
  }

}

.print-sec {
  h1 {
    font-size: 2.5rem;;
  }
  p {
    font-size: 1.5rem;
  }
}

.print-bg {
  background: url("https://pr-cdn.oneaffiniti.com/upload/general/20181008/print.jpg")
      center right / cover no-repeat scroll rgb(98, 112, 119);
    min-height: 750px;
    .text-content {
      padding: 1rem .5rem;
    }
}

// http://www8.hp.com/us/en/images/Elite_tcm245_2540098_tcm245_2540313_tcm245-2540098.jpg

.blog-layout {
  margin: 70px 0;
}

.testimonials {
  background: $white;
  padding: 70px 0 100px;
  .card {
    border-color: $white;
    .card-body {
      img {
        margin-bottom: 15px;
      }
      .card-title {
        span {
          color: #9c9c9c;
          font-weight: normal;
          font-size: 16px;
        }
      }
    }
  }
}

.title-section {
  padding: 3.5rem 0 4.1rem;
  h1 {
    // font-weight: 300;
    font-size: 3.5rem;
  }
  p {
    font-size: 2rem;;
  }
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.footer {
  padding: 70px 0;
  color: $grey;
  a {
    font-size: 14px;
    color: $grey;
    &:hover {
      color: $red;
    }
  }
}

.alert-secondary {
  background: $white;
  border-color: $white;
}
::-moz-selection {
  background: $dark;
  color: $white;
}
::selection {
  background: $dark;
  color: $white;
}


@media only screen and (max-width: 768px) {
  .jumbotron {
    &.main-jumbotron {
      .hdng {
      h1 {
        font-size: 2rem;;
      }
    }
  }
  &.home-jumbotron {
    .col {
      min-height: 300px;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      h1 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
  }
  &.pc-jumbotron {
    .col {
      min-height: 300px;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      h1 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
  &.blog-experts {
    .col {
      min-height: 200px;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      h1 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
  &.blog-learn {
    .col {
      min-height: 200px;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      h1 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
  &.blog-resources {
    .col {
      min-height: 200px;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      h1 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
  &.blog-help {
    .col {
      min-height: 200px;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      h1 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }

}
.print-sec {
  .text-content {
    padding: 3.5rem 1rem 4.1rem;
    text-align: center;
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
  .print-bg {
    min-height: 300px;
  }
}
.footer {
  text-align: center;
  .clmn {
    margin-bottom: 1.5rem;
  }
}
.navbar {
  .logos {
    list-style: none;
    margin: 0 auto;
    // margin: 0;
    // padding: 10px 0;
    li {
      float: left;
      a {
        padding: 5px 10px 5px 5px;
        img {
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
          &.dicker {
            width: 100px;
            height: auto;
          }
          &.hp {
            width: 40px;
            height: auto;
          }
        }
      }
    }
  }
}
.page {
  .main-navigation {
      top: 76px;
    }
  }
  .jumbotron.home-jumbotron {
    margin-top: 120px;
  }
  .jumbotron.blog-experts {
    margin-top: 120px;
  }
  .jumbotron.blog-learn {
    margin-top: 120px;
  }
  .jumbotron.blog-resources {
    margin-top: 120px;
  }
  .jumbotron.blog-help {
    margin-top: 120px;
  }
}

.securetechnology {
  a {
    padding: 2rem;
    display: block;
    transition: all 0.5s ease-in-out;
    &:hover {
      background:$gold;
    }
  }
}

.edms {
  a {
    img {
      transition: all 0.5s ease-in-out;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.btn {
  transition: all 0.2s ease-in-out;
}