.bg-dark {
  background: #373838 !important;
}
.bg-primary {
  background: #c20047 !important;
}
.bg-secondary {
  background: #cba846 !important;
}
// red: #C20047;
// gold: #CBA846;

.btn-primary {
  background: #c20047;
  border-color: #c20047;
  &:hover {
    background: #cba846;
    border-color: #cba846;
  }
}

a {
  color: #c20047;
  &:hover {
    color: #cba846;
  }
}

.article-links {
	list-style: none;
	padding-left: 1.1rem;
	li {
		padding: 0;
		margin: 0 0 0.5rem 0;
		text-indent: -0.6rem;
		a {
			padding: 0 0 00;
			margin: 0;
			display: block;
		}
	}
}

.navbar-dark .navbar-nav .nav-link {
  text-transform: uppercase;
  color: #f5f5f5;
}
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #c20047;
}
.navbar {
  &.bg-dark {
    background: #000 !important;
  }
  .logos {
    list-style: none;
    // margin: 0 auto;
    margin: 0;
    padding: 10px 0;
    li {
      float: left;
      a {
        padding: 5px 10px 5px 5px;
        img {
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          &.dicker {
            width: 160px;
            height: auto;
          }
          &.hp {
            width: 62px;
            height: auto;
          }
        }
      }
    }
  }
}

body.scrolled {
  .navbar {
    .logos {
      padding: 5px;
      li {
        a {
          img {
            &.dicker {
              width: 100px;
            }
            &.hp {
              width: 38px;
            }
          }
        }
      }
    }
  }
}

.jumbotron {
  margin-top: 108px;
  &.main-jumbotron {
    background: url("http://www8.hp.com/us/en/images/HP_MDP_D_SecurityPage_HeroBanner_02_tcm245_2539546_tcm245_2540313_tcm245-2539546.jpg")
      50% 50% / cover no-repeat scroll rgb(98, 112, 119);
    min-height: 600px;
    .lead {
      font-size: 1.5rem;
    }
  }
  &.video-jumbotron {
    background: url("http://www8.hp.com/us/en/images/D_2_tcm245_2539975_tcm245_2540313_tcm245-2539975.jpg")
      50% 50% / cover no-repeat scroll rgb(98, 112, 119);
    min-height: 798px;
  }
}

// http://www8.hp.com/us/en/images/Elite_tcm245_2540098_tcm245_2540313_tcm245-2540098.jpg

.blog-layout {
  margin: 70px 0;
}

.testimonials {
  background: #f5f5f5;
  padding: 70px 0 100px;
  .card {
    border-color: #f5f5f5;
    .card-body {
      img {
        margin-bottom: 15px;
      }
      .card-title {
        span {
          color: #9c9c9c;
          font-weight: normal;
          font-size: 16px;
        }
      }
    }
  }
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.footer {
  padding: 70px 0;
  color: #cccccc;
  a {
    font-size: 14px;
    color: #cccccc;
    &:hover {
      color: #c20047;
    }
  }
}

.alert-secondary {
  background: #f5f5f5;
  border-color: #f5f5f5;
}
::-moz-selection {
  background: #373838;
  color: #ffffff;
}
::selection {
  background: #373838;
  color: #ffffff;
}
