<div class="container listbuild-container pb-5">
    <div class="row">
        <div class="col-md-12 text-center pt-5">
            <h1>Import your contacts</h1>
        </div>
        <div class="col-md-8 offset-md-2 text-center pb-4">
            <p>We've imported 95 contacts from your Google account. Please select the users you have worked with in the past that you would like to add your newsletter.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <h6 class="pl-3 pb-2">Contacts <span class="badge badge-pill badge-info">4</span></h6>
            <div class="card">
                <div class="card-header">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label mt-1">Select all</label>
                    </div>
                </div>
                <!-- <ul class="list-group bmd-list-group-sm pt-3 pb-3">
                    <li ng-repeat="email in emails" class="list-group-item" ng-hide="showme{{email.id}}">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input">
                            <label class="form-check-label mt-1">{{email.email}}</label>
                        </div>
                        <a href="" ng-click="showme{{email.id}}=true">Add</a>
                    </li>
                </ul> -->
                <ul class="list-group bmd-list-group-sm pt-3 pb-3">
                    <li class="list-group-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input">
                            <label class="form-check-label mt-1">johnsmith@tesla.com</label>
                        </div>
                        <a href=""><i class="fas fa-plus"></i></a>
                    </li>
                    <li class="list-group-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input">
                            <label class="form-check-label mt-1">janedoe@acme.com</label>
                        </div>
                        <a href=""><i class="fas fa-plus"></i></a>
                    </li>
                    <li class="list-group-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input">
                            <label class="form-check-label mt-1">joebloggs@martketingboy.com</label>
                        </div>
                        <a href=""><i class="fas fa-plus"></i></a>
                    </li>
                    <li class="list-group-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input">
                            <label class="form-check-label mt-1">jimcrow@campaign.com</label>
                        </div>
                        <a href=""><i class="fas fa-plus"></i></a>
                    </li>
                </ul>
            </div>
            <div class="button-container pt-3 text-right">
                <a href="#" class="btn btn-info btn-active">Add contacts</a>
            </div>


        </div>
        <div class="col-md-2 text-center text-muted d-none d-md-block d-lg-block">
            <i class="fas fas-stransfer fa-arrow-right"></i>
        </div>
        <div class="col-md-2 text-center text-muted d-none d-sm-block d-md-none p-3">
            <i class="fas fas-stransfer fa-arrow-down"></i>
        </div>
        <div class="col-md-5">
            <h6 class="pl-3 pb-2">Contacts added <span class="badge badge-pill badge-info">2</span></h6>
            <div class="card">
                <div class="card-header">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label mt-1">Remove all</label>
                    </div>
                </div>
                <!-- <ul ng-repeat="email in emails" class="list-group bmd-list-group-sm pt-3 pb-3">
                    <li class="list-group-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input">
                            <label class="form-check-label mt-1">thivanka_desilva@oneaffiniti.com</label>
                        </div>
                    </li>
                </ul> -->
                <ul class="list-group bmd-list-group-sm pt-3 pb-3">
                    <li class="list-group-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input">
                            <label class="form-check-label mt-1">juangarcia@tacosplus.com</label>
                        </div>
                        <a href=""><i class="fas fa-times"></i></a>
                    </li>
                    <li class="list-group-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input">
                            <label class="form-check-label mt-1">jacquesbonhomme@cartel.com</label>
                        </div>
                        <a href=""><i class="fas fa-times"></i></a>
                    </li>
                </ul>

            </div>
            <div class="button-container pt-3 text-right">
                <a href="#" class="btn btn-default ">Remove</a>
                <a href="#" class="btn btn-info btn-active">Submit</a>
                <p class="m-0 text-muted">
                    <small>
                        By clicking submit you accept out <a href="#" class="text-info">terms and conditions</a>.
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>