<div class="container listbuild-container pb-5">
    <div class="row">
        <div class="col-md-12 text-center pt-5">
            <h1>Import your contacts</h1>
        </div>
        <div class="col-md-8 offset-md-2 text-center pb-4">
            <p>We have found 95 contacts from your Google account that aren’t in your subscriber list. Please select the who you have worked with in the past and you would like to add your newsletter.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <h6 class="pl-3 pb-2">Contacts</h6>
            <div class="card">
                <div class="card-header">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label mt-1">Select all</label>
                    </div>
                    <div class="emailcounter">
                        4
                    </div>
                </div>
                <!-- <ul class="list-group bmd-list-group-sm pt-3 pb-3">
                    <li ng-repeat="email in emails" class="list-group-item" ng-hide="showme{{email.id}}">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input">
                            <label class="form-check-label mt-1">{{email.email}}</label>
                        </div>
                        <a href="" ng-click="showme{{email.id}}=true">Add</a>
                    </li>
                </ul> -->
                <ul class="list-group bmd-list-group-sm pt-3 pb-3">
                    <li class="list-group-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input">
                            <label class="form-check-label mt-1">
                                johnsmith@tesla.com <br>
                                <small class="role text-muted">Managing Director</small>
                            </label>
                        </div>
                        <a href="" class="btn btn-default btn-sm add">Add</a>
                    </li>
                    <li class="list-group-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input">
                            <label class="form-check-label mt-1">
                                janedoe@acme.com
                                <br>
                                <small class="role text-muted">Board Director</small>
                            </label>
                        </div>
                        <a href="" class="btn btn-default btn-sm add">Add</a>
                    </li>
                    <li class="list-group-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input">
                            <label class="form-check-label mt-1">
                                joebloggs@martketingboy.com
                                <br>
                                <small class="role text-muted">VP Country Manager</small>
                            </label>
                        </div>
                        <a href="" class="btn btn-default btn-sm add">Add</a>
                    </li>
                    <li class="list-group-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input">
                            <label class="form-check-label mt-1">
                                jimcrow@campaign.com
                                <br>
                                <small class="role text-muted">Vice President, Client Sales</small>
                            </label>
                        </div>
                        <a href="" class="btn btn-default btn-sm add">Add</a>
                    </li>
                </ul>
            </div>
            <div class="button-container pt-3 text-right">
                <a href="#" class="btn btn-info btn-active">Add contacts</a>
            </div>


        </div>
        <div class="col-md-2 text-center text-muted d-none d-md-block d-lg-block">
            <i class="fas fas-stransfer fa-arrow-right"></i>
        </div>
        <div class="col-md-2 text-center text-muted d-none d-sm-block d-md-none p-3">
            <i class="fas fas-stransfer fa-arrow-down"></i>
        </div>
        <div class="col-md-5">
            <h6 class="pl-3 pb-2">Contacts added</h6>
            <div class="card">
                <div class="card-header">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label mt-1">Remove all</label>
                    </div>
                    <div class="emailcounter">
                        2
                    </div>
                </div>
                <!-- <ul ng-repeat="email in emails" class="list-group bmd-list-group-sm pt-3 pb-3">
                    <li class="list-group-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input">
                            <label class="form-check-label mt-1">thivanka_desilva@oneaffiniti.com</label>
                        </div>
                    </li>
                </ul> -->
                <ul class="list-group bmd-list-group-sm pt-3 pb-3">
                    <li class="list-group-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input">
                            <label class="form-check-label mt-1">
                                juangarcia@tacosplus.com
                                <br>
                                <small class="role text-muted">CTO</small>
                            </label>
                        </div>
                        <a href="" class="btn btn-default btn-sm remove">Remove</a>
                    </li>
                    <li class="list-group-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input">
                            <label class="form-check-label mt-1">
                                jacquesbonhomme@cartel.com
                                <br>
                                <small class="role text-muted">Global Product Director</small>
                            </label>
                        </div>
                        <a href="" class="btn btn-default btn-sm remove">Remove</a>
                    </li>
                </ul>

            </div>
            <div class="button-container pt-3 text-right">
                <a href="#" class="btn btn-default remove">Remove</a>
                <a href="#" class="btn btn-info btn-active">Submit</a>
                <p class="m-0 text-muted">
                    <small>
                        By clicking submit you accept out <a href="#" class="text-info">terms and conditions</a>.
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>