<div class="container listbuild-container pb-5">
    <div class="row">
        <div class="col-md-12 text-center pt-5">
            <h1>Import your contacts</h1>
        </div>
        <div class="col-md-8 offset-md-2 text-center pb-4">
            <p>We have found 95 contacts from your Google account that aren’t in your subscriber list. Please select the
                who you have worked with in the past and you would like to add your newsletter.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <h6 class="pb-2">Google Contacts</h6>
            <div class="card">
                <div class="card-header">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label mt-1">Select all</label>
                    </div>
                    <div class="emailcounter">
                        4
                    </div>
                </div>
                <ul class="list-group bmd-list-group-sm pt-3 pb-3">
                    <li dir-paginate="email in emails | itemsPerPage: 5"
                        class="list-group-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input">
                            <label class="form-check-label mt-1">
                                <div class="namerole mb-1">
                                    {{ email.first_name }}
                                    {{ email.last_name }}
                                    - <span class="text-muted">
                                        {{ email.job_title }}
                                    </span>
                                </div>
                                <div class="emailaddress text-muted">
                                    <small>
                                        {{ email.email_address }}
                                    </small>
                                </div>
                            </label>
                        </div>
                        <a href="" class="btn btn-default btn-sm add"><i class="fas fa-plus"></i>Add</a>
                    </li>
                </ul>

            </div>

            <div class="button-container pt-3 text-left">

                <div class="row">
                    <div class="col-sm-8">
                    <dir-pagination-controls class="dirpagination"></dir-pagination-controls>
                    </div>
                    <div class="col-sm-4 text-right">
                        <a href="#" class="btn btn-info btn-active btn-round">Add contacts</a>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-md-2 text-center text-muted d-none d-md-block d-lg-block">
            <i class="fas fas-transfer fa-arrow-right"></i>
        </div>
        <div class="col-md-2 text-center text-muted d-none d-sm-block d-md-none p-3">
            <i class="fas fas-transfer fa-arrow-down"></i>
        </div>
        <div class="col-md-5">
            <h6 class="pb-2">Newsletter Contacts</h6>
            <div class="card">
                <div class="card-header">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label mt-1">Select all</label>
                    </div>
                    <div class="emailcounter">
                        2
                    </div>
                </div>
                <ul class="list-group bmd-list-group-sm pt-3 pb-3">
                    <li ng-repeat="email in emails | limitTo: 2" class="list-group-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input">
                            <label class="form-check-label mt-1">
                                <div class="namerole mb-1">
                                    {{ email.first_name }}
                                    {{ email.last_name }}
                                    - <span class="text-muted">
                                        {{ email.job_title }}
                                    </span>
                                </div>
                                <div class="emailaddress text-muted">
                                    <small>
                                        {{ email.email_address }}
                                    </small>
                                </div>
                            </label>
                        </div>
                        <a href="" class="btn btn-default btn-sm remove">Remove</a>
                    </li>
                </ul>
            </div>
            <div class="button-container pt-3 text-left">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="#" class="btn btn-default remove btn-round">Remove</a>
                    </div>
                    <div class="col-sm-6 text-right">
                        <a href="#" class="btn btn-info btn-active btn-round text-right">Submit</a>
                    </div>
                </div>
                <p class="m-0 text-muted text-right">
                    <small>
                        <i>By clicking submit you accept our <a href="#" class="text-info">terms and conditions</a>.</i>
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>