<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-6" style="height: 100vh;">
      <p class="tex-info">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum sequi facilis minima perferendis magnam dolorum repellendus fuga voluptatibus error illo tempore, odit architecto voluptatem. Voluptatem voluptatibus sed vitae totam voluptatum.
      </p>
    </div>
    <div class="col-lg-8 col-md-6 d-none d-sm-none d-md-block" style="background:teal;">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate asperiores omnis rerum nesciunt distinctio, delectus impedit illo quis sint quidem placeat! Culpa dolores provident sit aliquam repellat eaque possimus unde.
      </p>
    </div>
  </div>
</div>