<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-6" style="height: 100vh;">
      <div class="login-container">
        <div class="oa-logo mb-4">
          <img src="././images/oneaffiniti-logo.png" alt="OneAffiniti">
        </div>
        <div class="button-container">
        <p class="mb-0 ml-1">
          <small>Login your account:</small>
        </p>
          <div class="g-button">
            <a href="#/">
              <img src="././images/btn_google_signin_dark_normal_web@2x.png" alt="">
            </a>
          </div>
        <div class="ms-button">
          <a href="#/">
            <img src="././images/outlook-custom.png" alt="">
          </a>
        </div>
      </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-6 d-none d-sm-none d-md-block" style="background: url(https://pr-cdn.oneaffiniti.com/upload/general/20190425/1556152207login_bg.jpeg) center center; background-size: cover">
    </div>
  </div>
</div>