<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 left">
      <div class="login-container pl-4">
        <div class="oa-logo mb-5">
          <img src="././images/oneaffiniti-logo.png" alt="OneAffiniti">
          <p class="lead text-muted mt-2">Welcome, please login:</p>
        </div>
        <div class="button-container">
        <div class="login-btn">
            <a href="#/">
              <img src="././images/btn_google_signin_dark_normal_web@2x.png" alt="">
            </a>
          </div>
        <div class="login-btn mt-2">
          <a href="#/">
            <img src="././images/ms-symbollockup_signin_dark-custom.png" alt="">
          </a>
        </div>
      </div>
      </div>
    </div>
    <div class="right col-md-8 right p-0 d-none d-sm-none d-md-block">

    </div>
  </div>
</div>

