@font-face {
  font-family: 'hp_simplifiedbold';
  src: url("../fonts/hpsimplified-bold_1-webfont.eot");
  src: url("../fonts/hpsimplified-bold_1-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/hpsimplified-bold_1-webfont.woff2") format("woff2"), url("../fonts/hpsimplified-bold_1-webfont.woff") format("woff"), url("../fonts/hpsimplified-bold_1-webfont.ttf") format("truetype"), url("../fonts/hpsimplified-bold_1-webfont.svg#hp_simplifiedbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hp_simplifieditalic';
  src: url("../fonts/hpsimplified-italic_1-webfont.eot");
  src: url("../fonts/hpsimplified-italic_1-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/hpsimplified-italic_1-webfont.woff2") format("woff2"), url("../fonts/hpsimplified-italic_1-webfont.woff") format("woff"), url("../fonts/hpsimplified-italic_1-webfont.ttf") format("truetype"), url("../fonts/hpsimplified-italic_1-webfont.svg#hp_simplifieditalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hp_simplifiedlight';
  src: url("../fonts/hpsimplified-light_1-webfont.eot");
  src: url("../fonts/hpsimplified-light_1-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/hpsimplified-light_1-webfont.woff2") format("woff2"), url("../fonts/hpsimplified-light_1-webfont.woff") format("woff"), url("../fonts/hpsimplified-light_1-webfont.ttf") format("truetype"), url("../fonts/hpsimplified-light_1-webfont.svg#hp_simplifiedlight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hp_simplifiedregular';
  src: url("../fonts/hpsimplified-regular_2-webfont.eot");
  src: url("../fonts/hpsimplified-regular_2-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/hpsimplified-regular_2-webfont.woff2") format("woff2"), url("../fonts/hpsimplified-regular_2-webfont.woff") format("woff"), url("../fonts/hpsimplified-regular_2-webfont.ttf") format("truetype"), url("../fonts/hpsimplified-regular_2-webfont.svg#hp_simplifiedregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  padding-top: 25px;
  font-size: 1.1rem;
  line-height: 1.4rem;
  font-family: 'hp_simplifiedlight', sans-serif;
  font-weight: 200;
  color: #767676;
  background: #5A5A5A;
}

a {
  color: #0096d6;
}

a:hover {
  color: #0171ad;
  text-decoration: none;
}

.btn {
  text-transform: uppercase;
  font-weight: 300;
  background: #ffffff;
  border-color: #0171ad;
  color: #0096d6;
  border-radius: 3px;
}

.btn:hover {
  background: #0096d6;
  border-color: #0096d6;
  color: #ffffff;
}

.wrapper,
.row {
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}

.wrapper:before,
.wrapper:after,
.content-column:before,
.content-column:after {
  content: "";
  display: table;
}

.wrapper:after,
.content-column:after {
  clear: both;
}

#sidebar {
  background-color: #5a5a5a;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 15px;
  padding-right: 20px;
  z-index: 999999;
}

.content-column {
  padding: 0;
  background: #ffffff;
}

.navbar {
  padding: 15px 15px 10px;
}

.navbar.navbar-default {
  background: #fcfcfc;
  border-color: #f6f6f6;
}

.navbar .navbar-brand {
  padding: 0;
}

.jumbotron {
  background: #ffffff;
  padding: 50px 0 0;
}

.jumbotron .heading {
  text-align: center;
  padding: 15px;
}

.jumbotron .heading h1 {
  color: #dcaa30;
  font-weight: 300;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.jumbotron .heading p {
  color: #dcaa30;
}

.videos {
  padding: 50px 15px;
}

.videos .video-wrapper {
  margin-bottom: 50px;
  text-align: center;
  padding: 15px;
}

.videos .video-wrapper h3 {
  font-size: 1.7rem;
}

.img-display {
  background: url(http://www.www8-hp.com/us/en/images/07_04_tcm245_2543681_tcm245_2543664_tcm245-2543681.jpg) no-repeat scroll 50% 50%;
  height: 400px;
  background-size: cover;
}

footer {
  background: #e8e8e8;
  padding: 100px 30px 80px;
  text-align: center;
}

.greybar {
  background: #363636;
  display: block;
  min-height: 75px;
  content: "&nbsp;";
}

.modal-dialog {
  margin-top: 10%;
}

.wufoo-form .modal-content {
  background: #5a5a5a;
  border-radius: 0;
  border-color: #5a5a5a;
  padding: 5px 10px 15px 5px;
}

.wufoo-form .modal-content iframe {
  height: 620px !important;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=maps/main.css.map */
