
// Segoe UI font
// @import "./fonts/stylesheet.css";

$blue: 		#1e3869;
$blue-sec: 		#1e3869;
$green: 	#c1e2cb;
$red: 		#e5ebe7;
$yellow:	#fee48b;
$grey-lt: 	#F1F1F2;
$grey-md: 	#d7d7d7;
$grey-dk: 	#616161;
$black: 	#333333;
$link: 		#0067b8;
$red-h: 	darken($red, 15%);
$blue-h: 	darken($blue, 15%);
$yellow-h: 	darken($yellow, 15%);
$green-h: 	darken($green, 15%);



body, #images, #images a {
	font-family: "Sofia Pro", Verdana, Arial, Helvetica, sans-serif !important;
    font-weight: 200;
	// font-style: normal;
	color: $black;
}

.main {
	padding-top: 55px;
}

.main-mob {
	padding-top: 0;
}

.btn {
	letter-spacing: 1px;
	font-weight: 600;
	text-transform: capitalize;
	border-radius: 0 !important;
}

.btn-red {
	background: $red;
	color: #ffffff;
	&:hover {
		background: $red-h;
		color: #ffffff;
	}
}

.btn-blue {
	background: $blue;
	color: #ffffff;
	&:hover {
		background: $blue-h;
		color: #ffffff;
	}
}

.btn-yellow {
	background: $yellow;
	color: #ffffff;
	&:hover {
		background: $yellow-h;
		color: #ffffff;
	}
}

.btn-white {
	background: #ffffff;
	color: $black;
	&:hover {
		background: $grey-lt;
		color: $black;
	}
}

.text-blue {
	color: $blue;
	&:hover {
		color: $blue-h;
	}
}

.text-green {
	color: $green;
	&:hover {
		color: $green-h;
	}
}

.text-red {
	color: $red;
}

.no-shadow {
	box-shadow: none;
}

.bold {
	font-weight: 600;
}

.navbar {
	box-shadow: none;
	z-index: 10;
	&.bg-light {
		background: #ffffff !important;
	}
	.main-logo {
		margin-bottom: 5px;
	}
	.navbar-text {
		font-size: 0.8rem;
		font-weight: 500;
		color: $black;
		.btn-yellow {
			color: $black;
			letter-spacing: 1px;
			&:hover {
				color: #ffffff;
			}
		}
	}
}

.pay-nothing-banner {
	background: $blue;
	color: #ffffff;
	text-align:	center;
}



.jumbotron-main {
	background: url("https://pr-cdn.oneaffiniti.com/upload/general/20190313/bg.jpg") no-repeat center bottom fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #ffffff;
	padding: 0;
	position: relative;
	.text {
		display: flex;
		align-items: flex-start;
		align-content: center;
		.text-content {
			display: flex;
			flex-direction: column;
			align-self: center;
			.display-3 {
				font-weight: 600;
			}
		}
	}
	.main-image {
		display: flex;
		align-items:flex-end;
	}
	.funded100 {
		z-index: 9;
		max-width: 260px;
		color: #ffffff;
		letter-spacing: 1px;
		font-size: .9rem;
		font-weight: 600;
		&:hover {
			color: #ffffff;
		}
		}
	}
 

.interested	{
	background: $yellow;
	color: #ffffff;
	z-index: 1050 !important;
	.wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		a {
			&.contact-form-btn
			{
				background: $red;
				color: #ffffff;
				font-size: 1.2rem;
			}
		}
	}
	
}

.key-points {
	background: $red;
	// background: $red;
	// color: #ffffff;
	// background-color: #ffffff; 
	font-weight: 300;
	// border-top: 1px solid $grey-lt;
	img {
		filter: invert(1);
		-webkit-filter: invert(1);
		-moz-filter: invert(1);
		-o-filter: invert(1);
		opacity: 0.7;
	}
}

.how-can-we-help {
	background: $red;
	color: #ffffff;
}

.faq {
	// border-top: 1px solid $grey-md;
	background: #ffffff;
	.card {
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.06), 0 3px 1px -2px rgba(0,0,0,.05), 0 1px 5px 0 rgba(0,0,0,.05);
		h5 {
			text-indent: -1.5rem;
			margin-left: 1.5rem;
			color: $blue;
		}
		h6 {
			font-weight: 400;
			span {
				font-weight: 600;
				font-size: 1.25rem;
			}
			text-indent: -1.4rem;
			margin-left: 1.4rem;
		}
		&:hover {
			background: $yellow;
			// h5 {
			// 	color: $green;
			// }
		}
		.card-body {
			min-height:185px;
		}
	}
}

.testimonial {
	background: $red;
	.testi-container {
		blockquote {
			p::before, p::after {
				font-family: 'Font Awesome\ 5 Free';
				font-weight: 900;
				// content: "&#xf10d;" !important;
				// font-family: FontAwesome !important;
				font-size: 1.1rem;
				position: absolute;
				line-height: 1.5rem;
				color: $grey-md;
				// font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
				z-index: 0;
			}
			p::before {
				left: -5px;
				content: " \f10d ";
			}
			P::after {
				content: " \f10e ";
			}
				// z-index: 1;
				// span {
				// 	position: absolute;
				// 	color: $grey-md;
				// 	font-size: 120px;
				// 	z-index: 0;
				// 	line-height: 32px;
				// 	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
				// }
		}
	}
}

.about {
	background: $blue;
	color: #ffffff;
}

.contact {
	background: #ffffff;;
	color: $black;
}

.scrolltotop {
	position: fixed;
	bottom: 30px;
	right: 15px;
	z-index: 9999;
	display: block;
	width: 40px;
	height: 40px;
	background-color: $yellow;
}

.section-title {
	// text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
}

.theprogram {
	background: #ffffff;
	color: $black;
}

.footer {
	background: #ffffff;
	border-top: 1px solid $grey-lt;
	.social-icons {
		font-size: 1.5rem;
		margin-left: 1rem;
		margin-right: 1rem;
	}
}