body {
  position: relative;
  font-family: "Avenir LT W01_55 Roman1475520" !important;
}

.scrollNav {
  position: fixed;
  max-width: 350px;
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.scrollNav h5.card-title {
  margin: 0;
  padding: 0;
}

.scrollNavtotop {
  top: 120px;
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.scrollMenu li a {
  font-size: 1.1rem;
  line-height: 1.2rem;
}

.scrollMenu li a:hover {
  text-decoration: none;
}

a.toptop {
  position: fixed;
  bottom: 60px;
  color: #FF6129;
  z-index: 999999;
}

.col-cat-title {
  font-family: "Avenir LT W01_55 Roman1475520" !important;
  text-transform: uppercase;
  font-weight: 300;
  color: #bdbdbd;
  margin: 0;
  padding: 0;
}

.col-title {
  font-family: 'Avenir LT W01_95 Black1475556';
  color: #10A3DB;
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 0.8rem;
}

.col-hr {
  border-color: #ededed !important;
}

.col-cont-title {
  font-family: 'Avenir LT W01_95 Black1475556';
  color: #484848;
  font-size: 1.4rem;
  line-height: 1.5rem !important;
  margin-top: 1rem !important;
  margin-bottom: 0.8rem !important;
}


.esg-grid .mainul li.eg-coolidge-wrapper {
  border-color: #f1f1f1;
}

.eg-coolidge-content {
  background: #fdfdfd;
}

article img.wp-post-image {
	width: 100%;
}

#right-sidebar #recent-posts-2 ul li {
  border-color: #e3e3e3;
  border-style: solid;
  border-width: 1px 0 0;
}

#right-sidebar #recent-posts-2 ul li:last-child {
  border-bottom:  1px solid #e3e3e3;
}

#right-sidebar #recent-posts-2 ul li  a {
  display: block;
  padding: 1rem 0;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #666666;
  font-family: "Avenir LT W01_55 Roman1475520" !important;
  font-weight: bold;
}

#right-sidebar #recent-posts-2 ul li  a:hover {
  text-decoration: none;
  color: #0ea7dc;
}