body {
  position: relative;
  font-family: "Avenir LT W01_55 Roman1475520" !important;
}

.scrollNav {
  position: fixed;
  max-width: 350px;
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.scrollNav h5.card-title {
  margin: 0;
  padding: 0;
}

.scrollNavtotop {
  top: 120px;
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.scrollMenu li a {
  font-size: 1.1rem;
  line-height: 1.2rem;
}

.scrollMenu li a:hover {
  text-decoration: none;
}

a.toptop {
  position: fixed;
  bottom: 20px;
  color: #FF6129;
  z-index: 999999;
}

.col-cat-title {
  font-family: "Avenir LT W01_55 Roman1475520" !important;
  text-transform: uppercase;
  font-weight: 300;
  color: #bdbdbd;
  margin: 0;
  padding: 0;
}

.col-title {
  font-family: 'Avenir LT W01_95 Black1475556';
  color: #10A3DB;
  font-size: 1.8rem;
}

.col-hr {
  border-color: #ededed !important;
}

.col-cont-title {
  font-family: 'Avenir LT W01_95 Black1475556';
  color: #484848;
  font-size: 1.4rem;
}