/* temporary styles for oneaffiniti website */

body {
  position: relative;
}

.scrollNav {
	position: fixed;
	max-width:  350px;
}

.scrollMenu li a {
	font-size: 1.1rem;
	line-height: 1.2rem;
	color: #10A3DB;
}

.scrollMenu li a:hover {
	color: ##FF6129 !important;
	text-decoration: none;
}

a.toptop {
	position: fixed;
	bottom:  20px;
	color:  #10A3DB;
	z-index: 999999;
}

a:toptop:hover {
	color: #FF6129 !important;
}