.docs-header {
	margin-bottom: 60px;
}

.docs-article {
	margin-bottom: 40px;
}

.scrollNav {
    position: fixed;
    max-width: 350px;
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.scrollNavtotop {
    top: 120px;
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

@media screen and (max-width:768px) {
    .docs-card.scrollNav.scrollNavtotop {
        display: none !important;
        opacity: 0 !important;
    }
    #docsNav {
    	display: none;
    }
}

.docs-card {
	background: #E5EBE7;
	padding: 15px;
}

.docs-card .docs-card-block .docs-card-title {

}

.docs-card ul.scrollMenu {
	list-style: none;
	margin: 0;
	padding: 0 0 0 15px;  
}

.docs-card ul.scrollMenu li.list-group-item {
	text-indent: -15px;
}

.docs-card ul.scrollMenu li.list-group-item:before {
    position: relative;    
    color: #C0E2CC;
    content: "» ";
    left: 0;
}
