.docs-header {
	margin-bottom: 60px;
}

.docs-article {
	margin-bottom: 40px;
}


.docs-card {
	background: #E5EBE7;
	padding: 15px 15px 5px;
}

.docs-card .docs-card-block .docs-card-title {

}

.docs-card ul.scrollMenu {
	list-style: none;
	margin: 0;
	padding: 0;  
}

.docs-card ul.scrollMenu li.list-group-item:before {
    position: absolute;    
    background: #C0E2CC;
    content: "» ";
}
