<header class="fixed-top">
  <!-- Bottom Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-bottom">
      <div class="container">
          <a class="navbar-brand" href="/">OneAffiniti</a><small>DIGITAL HUB</small>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link active" href="./agencysummary">Summary</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" href="./partnersummary">Partner</a>
                  </li>
                  <!-- <li class="nav-item">
                      <a class="btn btn-sm align-middle btn-primary" href="#">Add Lead</a>
                  </li> -->
                  <li class="nav-item">
                      <a class="btn btn-sm align-middle btn-outline-primary" href="./login">Log out</a>
                  </li>
                  <!-- <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="addLead" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Add Lead
                  </a>
                      <div class="dropdown-menu" aria-labelledby="addLead">
                          <a class="dropdown-item" href="addleadpartner.html">By Partner</a>
                          <a class="dropdown-item" href="addleadagency.html">By Agency</a>
                      </div>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="sharelead.html">Share Lead</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="passtoagency.html">Pass to Agency</a>
                  </li>
                  <li>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="oi oi-person"></span>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="signin.html">Log out</a>
                      </div>
                  </li> -->
              </ul>
          </div>
      </div>
  </nav>
</header>