// boostrap overides
$primary: #233969;
$primarydk: darken($primary, 1%);
.navbar-dark {
    background-color: $primary;
    color: #ffffff;
}

.navbar-bottom {
	background-color: $primarydk;
}

ul.mainnav li {
	display: inline-block;;
}

body {
    position: relative;
    // color: #333333;
    margin-top: 56px;
}

.table {
	tr {
		td {
			vertical-align: middle;
		}
	}
}

.pageheader {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.daterangepicker {
	position: relative;
	top: 240px !important;
}


.form-signin {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
  .btn-dark {
  	background-color: $primary;
  	&:hover {
  		background-color: $primarydk;
  	}
  }
}


.login-title {
	text-align: center;
	font-size: 1.5rem;
	padding: 1.25rem;
	font-weight: 600;
	color: $primary;
	small {
		text-transform: uppercase;
		font-size: 1rem;
	}
}

