.bg-dark {
  background: #373838 !important;
}

.bg-primary {
  background: #c20047 !important;
}

.bg-secondary {
  background: #cba846 !important;
}

.text-primary {
  color: #c20047 !important;
}

.btn-primary {
  background: #c20047;
  border-color: #c20047;
}

.btn-primary:hover {
  background: #cba846;
  border-color: #cba846;
}

a {
  color: #c20047;
}

a:hover {
  color: #cba846;
}

.article-links {
  list-style: none;
  padding-left: 1.1rem;
}

.article-links li {
  padding: 0;
  margin: 0 0 0.5rem 0;
  text-indent: -0.6rem;
}

.article-links li a {
  padding: 0 0 00;
  margin: 0;
  display: block;
}

.navbar-dark .navbar-nav .nav-link {
  text-transform: uppercase;
  color: #ffffff;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #c20047;
}

.navbar.bg-dark {
  background: #000000 !important;
}

.navbar .logos {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

.navbar .logos li {
  float: left;
}

.navbar .logos li a {
  padding: 5px 10px 5px 5px;
}

.navbar .logos li a img {
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar .logos li a img.dicker {
  width: 160px;
  height: auto;
}

.navbar .logos li a img.hp {
  width: 62px;
  height: auto;
}

.index {
  background: #000000;
}

.index .navbar .logos {
  margin: 0 auto;
  padding: 5px;
}

.index .jumbotron {
  height: -moz-calc(100vh - 108px);
  height: calc(100vh - 108px);
  min-height: -moz-calc(100vh - 108px);
  min-height: calc(100vh - 108px);
  margin: 108px 0 0 0;
}

.index .jumbotron .container-fluid {
  max-width: 1400px;
}

.index .jumbotron .container-fluid h1 {
  font-size: 3.5rem;
}

.index .jumbotron .container-fluid .form-container {
  margin-bottom: 25%;
}

.home .logos {
  margin: 0 auto;
  padding: 5px;
}

.home.scrolled .navbar .logos li a img.dicker {
  width: 100px;
}

.home.scrolled .navbar .logos li a img.hp {
  width: 38px;
}

.jumbotron {
  margin-top: 108px;
}

.jumbotron.main-jumbotron {
  background: url("http://www8.hp.com/ph/en/images/HP_MDP_D_Resources_Module_07_tcm195_2615959_tcm195_2540313_tcm195-2615959.jpg") 50% 50%/cover no-repeat scroll #627077;
  min-height: 600px;
}

.jumbotron.main-jumbotron .lead {
  font-size: 1.5rem;
}

.jumbotron.home-jumbotron {
  margin-top: 98px;
  background: url("http://www8.hp.com/us/en/images/HP_MDP_D_SecurityPage_HeroBanner_02_tcm245_2539546_tcm245_2540313_tcm245-2539546.jpg") 50% 50%/cover no-repeat scroll #627077;
  min-height: 400px;
}

.jumbotron.video-jumbotron {
  background: url("http://www8.hp.com/us/en/images/D_2_tcm245_2539975_tcm245_2540313_tcm245-2539975.jpg") 50% 50%/cover no-repeat scroll #627077;
  min-height: 798px;
}

.blog-layout {
  margin: 70px 0;
}

.testimonials {
  background: #ffffff;
  padding: 70px 0 100px;
}

.testimonials .card {
  border-color: #ffffff;
}

.testimonials .card .card-body img {
  margin-bottom: 15px;
}

.testimonials .card .card-body .card-title span {
  color: #9c9c9c;
  font-weight: normal;
  font-size: 16px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.footer {
  padding: 70px 0;
  color: #cccccc;
}

.footer a {
  font-size: 14px;
  color: #cccccc;
}

.footer a:hover {
  color: #c20047;
}

.alert-secondary {
  background: #ffffff;
  border-color: #ffffff;
}

::-moz-selection {
  background: #373838;
  color: #ffffff;
}

::selection {
  background: #373838;
  color: #ffffff;
}

/*# sourceMappingURL=maps/main.css.map */
