.bg-dark {
  background: #373838 !important;
}

.bg-black {
  background: #000000 !important;
}

.bg-primary {
  background: #c20047 !important;
}

.bg-secondary {
  background: #cba846 !important;
}

.text-primary {
  color: #c20047 !important;
}

.pointer {
  cursor: !important;
}

.btn.btn-primary {
  background: #c20047;
  border-color: #c20047;
  color: #ffffff;
  cursor: pointer;
}

.btn.btn-primary:hover {
  background: #cba846;
  border-color: #cba846;
  color: #ffffff;
}

a {
  color: #c20047;
}

a:hover {
  color: #cba846;
}

.article-links {
  list-style: none;
  padding-left: 1.1rem;
}

.article-links li {
  padding: 0;
  margin: 0 0 0.5rem 0;
  text-indent: -0.6rem;
}

.article-links li a {
  padding: 0 0 00;
  margin: 0;
  display: block;
}

.navbar-dark .navbar-nav .nav-link {
  text-transform: uppercase;
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 600;
  line-height: 1rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #cba846;
}

.navbar-dark .navbar-nav .active .nav-link {
  color: #cba846;
}

.navbar.bg-dark {
  background: #000000 !important;
}

.navbar .logos {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

.navbar .logos li {
  float: left;
}

.navbar .logos li a {
  padding: 5px 10px 5px 5px;
}

.navbar .logos li a img {
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.navbar .logos li a img.dicker {
  width: 160px;
  height: auto;
}

.navbar .logos li a img.hp {
  width: 62px;
  height: auto;
}

.index {
  background: #000000;
}

.index .navbar .logos {
  margin: 0 auto;
  padding: 5px;
}

.index .jumbotron {
  height: -moz-calc(100vh - 108px);
  height: calc(100vh - 108px);
  min-height: -moz-calc(100vh - 108px);
  min-height: calc(100vh - 108px);
  margin: 108px 0 0 0;
}

.index .jumbotron .container-fluid {
  max-width: 1400px;
}

.index .jumbotron .container-fluid h1 {
  font-size: 3.5rem;
}

.index .jumbotron .container-fluid .form-container {
  margin-bottom: 25%;
}

.page .logos {
  margin: 0 auto;
  padding: 5px;
}

.page .main-navigation {
  top: 98px;
  background: #c20047;
  border-color: #c20047;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.page .navbar .navbar-toggler {
  margin: 0 auto;
  color: #ffffff;
}

.page.scrolled .main-navigation {
  top: 55px;
  -moz-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.page.scrolled .navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.page.scrolled .navbar .logos li a img.dicker {
  width: 100px;
}

.page.scrolled .navbar .logos li a img.hp {
  width: 38px;
}

.jumbotron {
  margin-top: 108px;
}

.jumbotron .lead {
  font-size: 1.5rem;
}

.jumbotron.main-jumbotron {
  background: url("https://pr-cdn.oneaffiniti.com/upload/general/20181011/index_background.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 600px;
}

.jumbotron.main-jumbotron .lead {
  font-size: 1.5rem;
}

.jumbotron.home-jumbotron {
  margin-top: 140px;
  background: url("http://www8.hp.com/us/en/images/HP_MDP_D_SecurityPage_HeroBanner_02_tcm245_2539546_tcm245_2540313_tcm245-2539546.jpg") 50% 50%/cover no-repeat scroll #627077;
}

.jumbotron.home-jumbotron .col {
  min-height: 600px;
}

.jumbotron.home-jumbotron .col h1 {
  font-size: 3.2rem;
}

.jumbotron.home-jumbotron .col p {
  font-size: 2rem;
}

.jumbotron.home-jumbotron a.play-btn {
  width: 150px;
  height: 150px;
  display: block;
  padding: 0;
  opacity: 0.7;
}

.jumbotron.home-jumbotron a.play-btn:hover {
  opacity: 1;
}

.jumbotron.pc-jumbotron {
  margin-top: 0;
  margin-bottom: 0;
  background: url("https://pr-cdn.oneaffiniti.com/upload/general/20181008/matrix.jpg") 50% 50%/cover no-repeat scroll #627077;
}

.jumbotron.pc-jumbotron .col {
  min-height: 600px;
}

.jumbotron.pc-jumbotron .col h1 {
  font-size: 3.2rem;
}

.jumbotron.pc-jumbotron .col p {
  font-size: 2rem;
}

.jumbotron.heading-jumbotron {
  margin-top: 140px;
  background: #f5f5f5;
}

.jumbotron.print-jumbotron {
  margin-top: 0;
  margin-bottom: 0;
  background: url("https://pr-cdn.oneaffiniti.com/upload/general/20181008/print.jpg") 50% 100%/cover no-repeat scroll #627077;
  min-height: 750px;
}

.jumbotron.print-jumbotron h1 {
  font-size: 3rem;
}

.jumbotron.print-jumbotron .lead {
  font-size: 1.5rem;
}

.jumbotron.heading-jumbotron {
  margin-top: 140px;
  background: #f5f5f5;
}

.jumbotron.blog-jumbotron {
  margin-top: 140px;
  margin-bottom: 0;
  background: url("http://www8.hp.com/us/en/images/HP_MDP_D_SecurityPage_HeroBanner_02_tcm245_2539546_tcm245_2540313_tcm245-2539546.jpg") 50% 50%/cover no-repeat scroll #627077;
}

.jumbotron.blog-jumbotron .col {
  min-height: 300px;
}

.jumbotron.blog-jumbotron .col h1 {
  font-size: 3.5rem;
}

.jumbotron.blog-jumbotron .col p {
  font-size: 2rem;
}

.print-sec h1 {
  font-size: 2.5rem;
}

.print-sec p {
  font-size: 1.5rem;
}

.print-bg {
  background: url("https://pr-cdn.oneaffiniti.com/upload/general/20181008/print.jpg") center right/cover no-repeat scroll #627077;
  min-height: 750px;
}

.print-bg .text-content {
  padding: 1rem .5rem;
}

.blog-layout {
  margin: 70px 0;
}

.testimonials {
  background: #ffffff;
  padding: 70px 0 100px;
}

.testimonials .card {
  border-color: #ffffff;
}

.testimonials .card .card-body img {
  margin-bottom: 15px;
}

.testimonials .card .card-body .card-title span {
  color: #9c9c9c;
  font-weight: normal;
  font-size: 16px;
}

.title-section {
  padding: 3.5rem 0 4.1rem;
}

.title-section h1 {
  font-size: 3.5rem;
}

.title-section p {
  font-size: 2rem;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.footer {
  padding: 70px 0;
  color: #cccccc;
}

.footer a {
  font-size: 14px;
  color: #cccccc;
}

.footer a:hover {
  color: #c20047;
}

.alert-secondary {
  background: #ffffff;
  border-color: #ffffff;
}

::-moz-selection {
  background: #373838;
  color: #ffffff;
}

::selection {
  background: #373838;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .jumbotron.main-jumbotron .hdng h1 {
    font-size: 2rem;
  }
  .jumbotron.home-jumbotron .col {
    min-height: 300px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .jumbotron.home-jumbotron .col h1 {
    font-size: 2.5rem;
  }
  .jumbotron.home-jumbotron .col p {
    font-size: 1.5rem;
  }
  .jumbotron.pc-jumbotron .col {
    min-height: 300px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .jumbotron.pc-jumbotron .col h1 {
    font-size: 2.5rem;
  }
  .jumbotron.pc-jumbotron .col p {
    font-size: 1.2rem;
  }
  .jumbotron.blog-jumbotron .col {
    min-height: 200px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .jumbotron.blog-jumbotron .col h1 {
    font-size: 2.5rem;
  }
  .jumbotron.blog-jumbotron .col p {
    font-size: 1.2rem;
  }
  .print-sec .text-content {
    padding: 3.5rem 1rem 4.1rem;
    text-align: center;
  }
  .print-sec .text-content h1 {
    font-size: 2.5rem;
  }
  .print-sec .text-content p {
    font-size: 1.2rem;
  }
  .print-sec .print-bg {
    min-height: 300px;
  }
  .footer {
    text-align: center;
  }
  .footer .clmn {
    margin-bottom: 1.5rem;
  }
  .navbar .logos {
    list-style: none;
    margin: 0 auto;
  }
  .navbar .logos li {
    float: left;
  }
  .navbar .logos li a {
    padding: 5px 10px 5px 5px;
  }
  .navbar .logos li a img {
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .navbar .logos li a img.dicker {
    width: 100px;
    height: auto;
  }
  .navbar .logos li a img.hp {
    width: 40px;
    height: auto;
  }
  .page .main-navigation {
    top: 76px;
  }
  .jumbotron.home-jumbotron {
    margin-top: 120px;
  }
  .jumbotron.blog-jumbotron {
    margin-top: 120px;
  }
}

.securetechnology a {
  padding: 2rem;
  display: block;
}

.securetechnology a:hover {
  background: #cba846;
}

.edms a img {
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.edms a img:hover {
  opacity: 0.5;
}

/*# sourceMappingURL=maps/main.css.map */
