
/* custom template */
@font-face {
    font-family: "HP Simplified";
    src: url(http://www.hpcloud.com/sites/default/themes/hp_cloud_tile_base/fonts/HPSimplified-Bold.eot);
    src: url(http://www.hpcloud.com/sites/default/themes/hp_cloud_tile_base/fonts/HPSimplified-Bold.eot?#iefix) format('eot')
}

@font-face {
    font-family: "HP Simplified Rg";
    src: url(http://www.hpcloud.com/sites/default/themes/hp_cloud_tile_base/fonts/HPSimplifiedW01-Regular.eot);
    src: url(http://www.hpcloud.com/sites/default/themes/hp_cloud_tile_base/fonts/HPSimplifiedW01-Regular.eot?#iefix) format('eot')
}

$gold: #dcaa30;


html,
body {
    height: 100%;
    padding-top: 25px;
    font-size: 1rem;
    line-height: 1.3rem;
    font-family: 'HP Simplified', sans-serif;
}

a {
	color: #0096d6;
	&:hover {
		color: #0171ad;
		text-decoration: none;
	}
}


.btn {
	text-transform: uppercase;
	font-weight: 300;
	background: #ffffff;
	border-color: #0171ad;
	color: #0096d6;
	border-radius: 3px;
}

.wrapper,
.row {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}

.wrapper:before,
.wrapper:after,
.content-column:before,
.content-column:after {
    content: "";
    display: table;
}

.wrapper:after,
.content-column:after {
    clear: both;
}

#sidebar {
    background-color: #5a5a5a;
    height: 100%;
    position: fixed;
    right: 0;
}

.content-column {
	padding: 0;
}

.navbar {
	padding: 15px 15px 10px;
	.navbar-brand {
		padding: 0;
		}
	}

.jumbotron {
	 // background: url('http://www.www8-hp.com/us/en/images/Nantucket_Ebony_Winterfell_Family_hero_tcm245_2543603_tcm245_2543664_tcm245-2543603.jpg') no-repeat center center;
	 background-size: cover;
	// .container {
		padding: 50px 0 0;
		.heading {
			text-align: center;
			padding: 15px;
			h1 {
				color: $gold;
				font-weight: 300;
				font-size: 3rem;
				text-transform: uppercase;
			}
			p {
				color: $gold;
			}
		}
	// }
}

.videos {
	padding: 50px 15px;
	.video-wrapper {
		margin-bottom: 50px;
	}
}

.img-display {
	background: url(http://www.www8-hp.com/us/en/images/07_04_tcm245_2543681_tcm245_2543664_tcm245-2543681.jpg) no-repeat scroll 50% 50%;
	height: 400px;
	background-size: cover;
}

footer {
	background: #e8e8e8;
	padding: 100px 30px 80px;
	text-align: center;
}

.greybar {
	background: #363636;
	display: block;
	min-height: 75px;
	content: "&nbsp;";
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }