/* You can add global styles to this file, and also import other style files */

body {
    color: #90A4AE;
    position: relative;
    margin-top: 56px;
    margin-bottom: 100px;
  }
  
  a:not([href]):not([tabindex]).btn.btn-primary {
    color: #ffffff;
  }
  
  a:not([href]):not([tabindex]).btn.btn-outline-primary {
    color: #007bff;
  }
  
  a:not([href]):not([tabindex]).btn.btn-outline-primary:hover {
    color: #ffffff;
  }
  
  .navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .navbar a:not([href]):not([tabindex]).navbar-brand {
    color: #233969;
  }
  
  .navbar .navbar-brand {
    text-transform: uppercase;
  }
  
  .navbar .navbar-brand small {
    position: relative;
  }
  
  .navbar .navbar-nav .nav-item {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }
  
  .navbar .navbar-nav .nav-item .btn {
    margin-top: 3px;
  }
  
  .navbar .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }
  
  .navbar-light {
    background-color: #ffffff !important;
  }
  
  .navbar-light .navbar-brand {
    color: #233969;
    background-color: #ffffff !important;
  }
  
  .navbar-light .navbar-brand small {
    color: #233969;
  }
  
  .navbar-light .navbar-nav .nav-link {
    font-size: 0.8rem;
    font-weight: 600;
  }
  
  ul.mainnav li {
    display: inline-block;
  }
  
  .pageheader {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .pageheader h4 {
    color: #233969;
  }
  
  .pageheader p {
    font-size: 0.9rem;
    margin-bottom: 0;
  }
  
  .pageheader .text-muted {
    color: #B0BEC5 !important;
  }
  
  .pageheader .btn {
    margin-top: 1.3rem;
  }
  
  .searchfilter .card {
    margin-bottom: 1.5rem;
  }
  
  .searchfilter .card .card-body {
    padding: .5rem 1.5rem 0 1.5rem;
  }
  
  .searchfilter .card .card-body .fltr {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #fafafa;
  }
  
  .table {
    font-size: 0.8rem;
  }
  
  .table thead {
    background-color: #FAFAFA !important;
  }
  
  .table tfoot tr td .pagination {
    margin-top: 0.5rem;
  }
  
  .table tfoot tr td .pagination .page-count {
    color: #90A4AE;
  }
  
  .table tfoot tr td .pagination .page-count:hover {
    background: #ffffff;
  }
  
  .table tbody + tbody {
    border-top: 1px solid #e9ecef;
  }
  
  .table tr th {
    font-size: 0.9rem;
    font-weight: 600;
    color: #233969;
    line-height: 0.9rem;
    vertical-align: middle;
    padding: 1rem 0.4rem;
  }
  
  .table tr td {
    vertical-align: middle;
    padding: 0.6rem 0.4rem;
    line-height: 0.9rem;
  }
  
  .table tr td .btn-sm {
    padding: 0 .5rem;
  }
  
  .table tr td a:not([href]):not([tabindex]) {
    color: #007bff;
  }
  
  .table tr td a:not([href]):not([tabindex]):hover {
    color: #80bdff;
  }
  
  .table tr td a.btn-outline-primary {
    color: #007bff;
  }
  
  .table tr td a.btn-outline-primary:hover {
    color: #ffffff;
  }
  
  .table tr td.full-name {
    text-transform: capitalize;
  }
  
  .table tr td.e-mail a:not([href]):not([tabindex]) {
    text-transform: lowercase;
  }
  
  .table.table-hover tbody tr:hover {
    background: #fafafa;
  }
  
  .table.table-hover tbody tr:hover td {
    border-color: none;
  }
  
  .form-signin {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
  }
  
  .form-signin .btn-dark {
    background-color: #233969;
  }
  
  .form-signin .btn-dark:hover {
    background-color: #223765;
  }
  
  .login-title {
    text-align: center;
    font-size: 1.5rem;
    padding: 1.25rem;
    font-weight: 600;
    color: #233969;
  }
  
  .login-title small {
    text-transform: uppercase;
    font-size: 1rem;
  }
  
  .form-group label {
    text-transform: uppercase;
    font-size: 0.8rem;
    line-height: 0.9rem;
    font-weight: 600;
    color: #90A4AE;
    color: #233969;
  }
  
  .form-group small {
    font-size: 75% !important;
    color: #90A4AE;
  }
  
  .form-group .alert {
    padding: 0.2rem 0.5rem;
    font-size: 0.9rem;
    border-radius: 3px;
    -moz-transition: all linear 0.5s;
    transition: all linear 0.5s;
    -webkit-transition: all linear 0.5s;
  }
  
  .view-edit {
    margin-bottom: 1.75rem;
  }
  
  .view-edit .card .card-body {
    padding-top: 1.75rem;
    padding-bottom: .75rem;
  }
  
  .social-signin {
    max-width: 360px;
    padding: 15px 15px 0;
    margin: 0 auto;
    background-color: #fafafa;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  
  .social-signin .head {
    color: #233969;
    text-align: center;
  }
  
  .social-signin .head h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  
  .social-signin .head p {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 0.8rem;
    font-weight: 700;
  }
  
  .social-signin .bgimage {
    padding: 0;
    display: block;
  }
  
  .social-signin .bgimage h1 {
    font-weight: 200;
    color: #ffffff;
    font-size: 1.8rem;
  }
  
  .social-signin .button {
    padding: 1.5rem 1.5rem 1rem;
    border-radius: 0 0 6px 6px;
  }
  
  .social-signin .button h1 {
    color: #233969;
    font-weight: 200;
  }
  
  .social-signin .button p {
    font-size: 0.75rem;
  }
  
  .social-signin .button a {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 215px;
  }
  
  .social-signin button {
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 215px;
    padding: 0;
    border-radius: 5px;
  }
  
  .social-signin .alert {
    font-size: 0.8rem;
    line-height: 1rem;
    margin: 0 1rem 1rem;
  }
  
  .social-signin button {
    border: none;
  }
  
  .fourofour {
    text-align: center;
  }
  
  .fourofour img {
    max-width: 500px;
    display: block;
    margin: 0 auto;
  }
  
  .fourofour h4 {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #233969;
  }
  
  .fourofour .title {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 0.8rem;
    font-weight: 700;
    color: #233969;
  }
  
  button.hand-hover:hover {
    cursor: pointer;
  }
  
  ngb-pagination {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .table tr td .fa {
    color: #f1c40f;
  }
  
  .p0 {
    padding: 0 !important;
  }
  
  @media screen and (max-width: 991px) {
    .table tbody + tbody {
      border-top: 1px solid #e9ecef;
    }
    .table tr th {
      display: block;
      display: none;
    }
    .table tr td {
      display: block;
      border-color: #ffffff;
      padding: 0.2rem 15px;
    }
    .table tr td span {
      font-weight: bold;
      margin-right: 10px;
      display: inline-block;
    }
    .table tr td .btn-sm {
      padding: .25rem .5rem;
    }
    .table tr td:first-child {
      border-top-color: #e8ebef;
      padding-top: 1rem;
    }
    .table tr td:last-child {
      border-bottom-color: #e8ebef;
      padding-bottom: 1rem;
    }
    .table-hover tr:hover td {
      border-color: #fafafa;
    }
  }
  
  @media screen and (min-width: 767px) {
    .table tbody tr td span {
      display: none;
    }
  }
  
  button.hand-hover:hover {
    cursor: pointer;
  }
  
  @media (max-width: 1200px) {
    .container {
      min-width: 100%;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 100%;
      max-width: 1440px;
    }
  }
  
  /*# sourceMappingURL=maps/style.css.map */
  