// page colors
$title-color: #525f66;
$bluelt: #90caf9;
$blue: #08a5dc;
$bluedk: darken($blue, 5%);
$bluedkst: darken($blue, 15%);
$bluelight: lighten($blue, 10%);
$lt-gray: #f5f5f5;
$gray-lt: #f5f5f5;
$gray: #9e9e9e;
$graydk: #616161;
$black: #212121;
$white: #ffffff;
$red: #f44336;
$green: #4caf50;
$greendk: darken($green, 5%);
$greendkst: darken($green, 15%);
$orange: #ff7043;
$orangedk: darken($orange, 15%);
$orangedkst: darken($orange, 20%);
$orangelt: #ff9800;
$orangeltdk: darken($orangelt, 15%);
$orangeltdkst: darken($orangelt, 20%);
// social colors
$fb: #3b5999;
$tw: #55acee;
$in: #0077b5;
$gp: #dd4b39;
$yt: #cd201f;
$ig: #e4405f;
$padding-default: 15px;
$padding-big: 30px;
$margin-default: 15px;
$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
$big-radius: 6px;
$small-radius: 3px;
$no-radius: 0;
$border-color: #eeeeee;
$lightgrey: #c1c1c1;
// * {
//     font-family: 'Gudea', sans-serif;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }

// custom styles
* {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  text-rendering: optimizeSpeed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: $title-color;
}

p {
  color: $black;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
  font-weight: 600;
}

h6 {
  font-size: 12px;
  font-weight: 600;
}

a {
  color: $blue;
  transition: all 0.3s ease;
}

.disabled {
  opacity: 0.7;
  cursor: not-allowed !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:hover {
  transition: all 0.3s ease;
}

a:focus {
  text-decoration: none;
}

::-moz-selection {
  background: $black;
  color: $white;
}

::selection {
  background: $black;
  color: $white;
}

// button overrides
.btn {
  border-radius: 2px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  border-radius: $small-radius;
  text-transform: uppercase;
  font-weight: 600;
}

.btn:hover {
  transition: all 0.3s ease;
}

.btn-primary {
  background: $blue;
  border-color: $blue;
}

.btn-primary:hover {
  background: $bluedk;
  border-color: $bluedk;
}

.btn-primary:focus {
  background: $bluedkst;
  border-color: $bluedkst;
}

.btn-warning {
  background: $orange;
  border-color: $orange;
}

.btn-warning:hover {
  background: $orangedk;
  border-color: $orangedk;
}

.btn-warning:focus {
  background: $orangedkst;
  border-color: $orangedkst;
}

.btn-success {
  background: $green;
  border-color: $green;
}

.btn-success:hover {
  background: $greendk;
  border-color: $greendk;
}

.btn-success:focus {
  background: $greendkst;
  border-color: $greendkst;
}

.btn-hover-blue:hover {
  background: $blue;
  border-color: $blue;
  color: $white;
}

.btn-danger {
  background: $red;
  border-color: $red;
  color: $white;
}

.btn-link-muted {
  color: $graydk;
}

.btn-link-muted:hover {
  color: $title-color;
}

.row-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.margin-top {
  margin-top: $padding-default;
}

.margin-top-big {
  margin-top: $padding-big;
}

.margin-bottom {
  margin-bottom: $padding-default;
}

.margin-bottom-big {
  margin-bottom: $padding-big;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.padding-top-small {
  padding-top: 5px;
}

.padding-top {
  padding-top: $padding-default;
}

.padding-top-big {
  padding-top: $padding-big;
}

.padding-bottom-small {
  padding-bottom: 5px;
}

.padding-bottom {
  padding-bottom: $padding-default;
}

.padding-bottom-big {
  padding-bottom: $padding-big;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.alert {
  border-radius: $small-radius;
  &.complete {
    max-width: 700px;
    margin: 0 auto 15px;
    line-height: 1.2;
  }
  p {
    line-height: 1.2;
  }
  a {
    text-decoration: underline;
  }
  .btn {
    text-decoration: none;
  }
}

.alert-warning {
  background: #fbe9e7;
  border-color: $orange;
  color: $orange;
  h2 {
    font-weight: 400;
    color: $orange;
    margin-top: 0;
  }
  p {
    color: $orange;
    margin-bottom: 0;
  }
  a {
    color: $orange;
  }
  .btn {
    color: $white;
    text-decoration: none;
  }
}

.alert-info {
  background: #e1f5fe;
  border-color: $blue;
  color: $blue;
  h2 {
    font-weight: 400;
    color: $blue;
    margin-top: 0;
  }
  p {
    color: $blue;
    margin-bottom: 0;
  }
  a {
    color: $blue;
  }
  .btn {
    background: $blue;
    color: $white;
    text-decoration: none;
  }
}

.content-warning {
  width: 80%;
  text-align: center;
  background: #f2f2f2;
  border: 1px solid #e4e4e4;
  padding: 30px;
  margin: 10% auto 0;
  color: $gray;
}

.alert-success {
  border: 1px solid $green;
  background: $green;
  color: $white;
  h2 {
    font-weight: 400;
    color: $white;
    margin-top: 0;
  }
  p {
    color: $white;
    margin-bottom: 0;
  }
  a {
    color: $green;
  }
  .btn {
    color: $white;
    text-decoration: none;
  }
}

.no-padding-bottom {
  padding-bottom: 0;
}

body {
  background: $lt-gray;
}

header {
  background: $white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  height: 70px;
  margin: 0;
  padding: 0;
  clear: both;
  .logo {
    h1 {
      margin: 0;
      padding: 0;
      img {
        width: 100%;
        max-width: 175px;
        margin-top: 5px;
      }
    }
  }
}

.main-navigation {
  margin-top: 15px;
  .nav {
    margin-bottom: $margin-default;
    box-shadow: $box-shadow;
    margin: 0 15px;
    // padding: 15px;
    background: $white;
    border-radius: $small-radius;
    .page-title {
      float: left;
      height: 70px;
      display: table;
      padding: 0 15px;
      span {
        vertical-align: middle;
        text-transform: uppercase;
        display: table-cell;
        font-weight: 300;
      }
      h1 {
        font-size: 22px;
        margin: 0;
        padding: 0;
        font-weight: 400;
      }
    }
    .right {
      float: right;
      ul {
        margin: 0;
        padding: 0;
        li {
          float: left;
          list-style: none;
          padding: 0;
          height: 70px;
          display: block;
          cursor: pointer;
          border-right: 1px solid $border-color;
          &:first-child {
            border-left: 1px solid $border-color;
          }
          // &:last-child {
          //   border-right: 1px solid $border-color;
          // }
          &:last-child a {
            border-top-right-radius: $small-radius;
            border-bottom-right-radius: $small-radius;
          }
          a {
            display: table;
            height: 70px;
            padding: 0 20px;
            text-transform: uppercase;
            font-size: 14px;
            color: #222;
            &.disabled {
              opacity: 0.7;
              cursor: not-allowed;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }
            &:hover {
              text-decoration: none;
            }
            span {
              display: table-cell;
              vertical-align: middle;
              font-size: 16px;
              padding: 0 15px;
              i {
                margin-right: 15px;
              }
            }
            &.btn-back {
              &:hover {
                background: $blue;
                color: #fff;
                &.disabled {
                  color: $gray;
                  background: $white;
                }
              }
            }
            &.btn-skip {
              &:hover {
                background: $orange;
                color: #fff;
                &.disabled {
                  color: $gray;
                  background: $white;
                }
              }
            }
            &.btn-preview {
              &:hover {
                background: #81d4fa;
                color: #fff;
                &.disabled {
                  color: $gray;
                  background: $white;
                }
              }
            }
            &.btn-save {
              background: #4caf50;
              color: #fff;
              &:hover,
              &:focus,
              &:active {
                background: #388e3c;
                color: $white;
              }
            }
            &.btn-reject {
              background: #f44336;
              color: #fff;
              &:hover,
              &:focus,
              &:active {
                background: #ea3b2e;
                color: $white;
              }
            }
          }
        }
      }
    }
  }
}

.main-container {
  padding: 15px 0 30px;
  margin-bottom: 70px;
  .campaign-wrapper {
    display: block;
    margin: 0 auto;
    min-height: 382px;
    position: relative;
  }
  .card {
    margin-bottom: $margin-default;
    box-shadow: $box-shadow;
    padding: 15px;
    background: $white;
    border-radius: $small-radius;
    position: relative;
    .terms-container {
      margin: 0 0 -7px;
      font-style: italic;
      color: $gray;

      .checkbox label {
        color: $black;
        font-style: normal;
      }
      a {
        color: $graydk;
        font-weight: bold;
      }
    }
    .alert-incomplete {
      z-index: 2;
      position: absolute;
      top: -10px;
      left: -8px;
      font-size: 24px;
      border-radius: 50%;
      padding: 0;
      line-height: 0;
      border: none;
      color: #f44336;
    }
    &.complete {
      text-align: center;
      max-width: 700px;
      margin: 0 auto;
      .page-title {
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 20px;
        i {
          color: $green;
          font-size: 32px;
        }
      }
      .btn {
        margin: 20px 0;
      }
    }
    &.completepage {
      max-width: 700px;
      margin: 0 auto;
      .media {
        max-width: 400px;
        display: block;
        margin: 15px auto;
        .media-left.icon {
          font-size: 72px;
          line-height: 0;
          color: $green;
        }
        .media-body {
          .media-heading {
            margin-top: 12px;
          }
        }
      }
    }
    &.completepost {
      max-width: 700px;
      margin: 0 auto;
      margin-bottom: 15px;
      .number {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        color: $title-color;
        font-size: 14px;
        padding-top: 5px;
        text-transform: uppercase;
      }
      &.article {
        .number {
          .fa {
            margin-right: 5px;
            color: $green;
            font-size: 16px;
          }
        }
      }
      &.social {
        .number {
          .fa {
            margin-right: 5px;
            color: $in;
            font-size: 16px;
          }
        }
      }
      .contents {
        margin-top: 10px;
        font-size: 14px;
        .content-item {
          padding-bottom: 5px;
          .title-content,
          .subject-line {
            color: $title-color;
            // font-family: 'Montserrat', sans-serif;
            font-size: 14px;
          }
          .content-label {
            font-weight: 600;
            text-transform: uppercase;
            color: $title-color;
            font-family: "Montserrat", sans-serif;
          }
          .content::before {
            content: ":";
            position: relative;
            left: -2px;
          }
        }
        .contact {
          padding-top: 5px;
          display: block;
          font-size: 12px;
          color: $title-color;
        }
      }
      .btn-preview {
        color: #ffffff;
        background-color: $blue;
        border: 1px solid $blue;
        &:hover,
        &:focus,
        &:active {
          background: $bluedk;
        }
      }
    }

    .option-wrapper {
      margin-bottom: 15px;
      border-left: 1px solid $border-color;
    }
    .header {
      padding-top: 15px;
    }
  }
  .button-container {
    padding: 15px;
    position: relative;
    &.completepagebutton {
      margin: 30px auto;
      text-align: center;
      .btn {
        background: $orangelt;
        border-color: $orangelt;
        color: $black;
      }

      .btn:hover {
        background: $orangeltdk;
        border-color: $orangeltdk;
      }

      .btn:focus {
        background: $orangeltdkst;
        border-color: $orangeltdkst;
      }
    }
  }

  .completefeedback {
    margin-top: 30px;
  }
  .social {
    .heading {
      text-align: center;
      margin-bottom: 30px;
      h2 {
        font-weight: 300;
      }
      p {
        font-size: 16px;
        margin-top: 15px;
        color: $title-color;
      }
    }
    .card {
      text-align: center;
      font-size: 16px;
      color: $title-color;
      h3 {
        text-transform: uppercase;
        margin-top: 30px;
      }
      p {
        color: $title-color;
        margin: 30px 15px;
      }
      .linkedin {
        text-align: center;
        margin: 30px 0;
      }
      &.text-left {
        text-align: left;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  header {
    .col-md-5 {
      background: $white;
      border-bottom: 1px solid $border-color;
    }
    .col-md-7 {
      background: $white;
    }
  }
  .main-navigation {
    margin-top: 15px;
    border-top: 1px solid $border-color;
    .nav {
      display: block;
      margin: 0 auto;
      margin: 0 15px;
      .page-title {
        span {
          h1 {
            font-size: 18px;
          }
        }
      }
      .right {
        ul {
          li {
            a {
              padding: 0 10px;
              span {
                font-size: 12px;
                i {
                  font-size: 14px;
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
  .main-container {
    .options-container {
      width: 100%;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    min-width: 1260px;
  }
}

@media only screen and (max-width: 660px) {
  .main-navigation {
    margin-top: 0;
    .nav {
      margin: 0;
      box-shadow: $box-shadow;
      background: $white;
      border-radius: 0;
      .page-title {
        float: none;
        height: 50px;
        width: 100%;
        border-bottom: 1px solid $border-color;
        text-align: center;
        span {
          vertical-align: middle;
          text-transform: uppercase;
          display: table-cell;
          font-weight: 300;
        }
        h1 {
          font-size: 16px;
          margin: 0;
          padding: 0;
          font-weight: 400;
        }
      }
      .right {
        float: none;
        ul {
          margin: 0;
          padding: 0;
          li {
            width: 50%;
            height: 50px;
            &.preview {
              width: 100%;
            }
            &:first-child {
              border-left: 1px solid $border-color;
            }
            &:last-child a {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
            a {
              display: table;
              height: 50px;
              width: 100%;
              padding: 0 20px;
              text-transform: uppercase;
              font-size: 14px;
              color: #222;
              span {
                text-align: center;
                i {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
  .center-mobile {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .card {
    margin-left: -15px;
    margin-right: -15px;
    .drop-container {
      margin-left: -15px;
      margin-right: -15px;
      .campaign-block {
        height: 40px;
        .icon {
          height: 40px;
          img {
            width: 8px;
            position: absolute;
            top: 13px;
            left: 10px;
            opacity: 0.7;
          }
        }
        .title {
          line-height: 12px;
          height: 30px;
          font-size: 12px;
          padding: 8px 7px 8px 19px;
          margin-left: 8px;
          width: calc(80% - 28px);
          text-overflow: initial;
          white-space: normal;
        }
        .btn-container {
          ul {
            li {
              a {
                padding: 12px 5px;
                min-width: 42px;
                text-align: center;
                font-size: 10px;
                .icon-label {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    .alert-incomplete {
      left: 5px !important;
    }
  }
}

// overlapping image in edm pop-up fix
// if this doesnt work in smaller mobile device please discard or if already fixed
@media (min-width: 768px) {
  .edm-panel-dialog {
    min-width: 602px;
  }
}

.options-wrapper {
  h3 {
    margin: 0 0 5px 0;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: $title-color;
    letter-spacing: 1px;
  }
  .help-block {
    color: $title-color;
    font-size: 13px;
    margin-bottom: 15px;
  }
  .more-content {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    font-family: "Montserrat", sans-serif;
  }
  .drop-container {
    padding: 10px;
    min-height: 55px;
    background: $lt-gray;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    ul.drop {
      margin: 0;
      padding: 0;
      li.unused {
        background: #b3e5fc;
        margin-bottom: 10px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #01579b;
        list-style: none;
        position: relative;
        margin-bottom: 10px;
        display: table;
        width: 100%;
        padding-left: 15px;
        span {
          display: table-cell;
          vertical-align: middle;
          font-size: 18px;
        }
        .btn-container {
          float: right;
          text-align: right;
          ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
              display: inline-block;
              &:last-child {
                button {
                  border-top-right-radius: 4px;
                  border-bottom-right-radius: 4px;
                }
              }
              button {
                display: block;
                text-align: center;
                padding: 10px 10px 8px;
                min-width: 60px;
                text-decoration: none;
                box-sizing: border-box;
                transition: all 0.15s ease 0s;
                margin-left: -4px;
                text-align: center;
                font-size: 10px;
                text-transform: uppercase;
                i {
                  font-size: 16px;
                }
                &.btn-add {
                  color: #ffffff;
                  background-color: #4caf50;
                  border: 1px solid #4caf50;
                  &:hover,
                  &:focus,
                  &:active {
                    background: #388e3c;
                  }
                }
                &.btn-remove {
                  color: #ffffff;
                  background-color: #f44336;
                  border: 1px solid #f44336;
                  &:hover,
                  &:focus,
                  &:active {
                    background: #e53935;
                  }
                }
                &.btn-preview {
                  color: #ffffff;
                  background-color: $blue;
                  border: 1px solid $blue;
                  &:hover,
                  &:focus,
                  &:active {
                    background: $bluedk;
                  }
                }
              }
            }
          }
        }
      }
      li.inuse {
        background: #03a9f4;
        margin-bottom: 10px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #ffffff;
        list-style: none;
        position: relative;
        margin-bottom: 10px;
        display: table;
        width: 100%;
        padding-left: 15px;
        span {
          display: table-cell;
          vertical-align: middle;
          font-size: 18px;
        }
        .btn-container {
          float: right;
          text-align: right;
          ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
              display: inline-block;
              &:last-child {
                button {
                  border-top-right-radius: 4px;
                  border-bottom-right-radius: 4px;
                }
              }
              button {
                display: block;
                text-align: center;
                padding: 10px 10px 8px;
                min-width: 60px;
                text-decoration: none;
                box-sizing: border-box;
                transition: all 0.15s ease 0s;
                margin-left: -4px;
                text-align: center;
                font-size: 10px;
                text-transform: uppercase;
                i {
                  font-size: 16px;
                }
                &.btn-add {
                  color: #ffffff;
                  background-color: #4caf50;
                  border: 1px solid #4caf50;
                  &:hover,
                  &:focus,
                  &:active {
                    background: #388e3c;
                  }
                }
                &.btn-remove {
                  color: #ffffff;
                  background-color: #f44336;
                  border: 1px solid #f44336;
                  &:hover,
                  &:focus,
                  &:active {
                    background: #e53935;
                  }
                }
                &.btn-preview {
                  color: #ffffff;
                  background-color: $blue;
                  border: 1px solid $blue;
                  &:hover,
                  &:focus,
                  &:active {
                    background: $bluedk;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.grabbable {
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */

.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.table-placeholder {
  width: 600px;
  height: 1000px;
  display: table;
  background: $white;
}

.bg-red {
  background: red;
}

.bg-blue {
  background: blue;
}

// form styles
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  -webkit-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  border: none;
  border-top: none !important;
  border-right: none !important;
  border-bottom: solid 1px #dce4e6 !important;
  border-left: none !important;
  border-radius: 0 !important;
  background: #f5f8f9 !important;
  box-shadow: none !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-bottom-color: $bluelt !important;
  background: #fff !important;
}

.form-group {
  margin-bottom: 5px;
  position: relative;
  label {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: $title-color;
    text-transform: uppercase;
  }
  .btn-wrapper {
    position: absolute;
    top: 0;
    right: 0;
  }
  .checkbox {
    margin: 0;
    label {
      font-family: "Gudea", sans-serif;
      text-transform: none;
      font-size: 18px;
      font-weight: 300;
      line-height: 20px;
      margin-bottom: 10px;
    }
  }
  .radio-inline {
    font-family: "Gudea", sans-serif;
    text-transform: none;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 0;
  }
}

.form-control {
  -webkit-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  border: none;
  border-top: none !important;
  border-right: none !important;
  border-bottom: solid 1px #dce4e6 !important;
  border-left: none !important;
  border-radius: 0 !important;
  background: #f5f8f9 !important;
  box-shadow: none !important;
  color: black !important;
}

.form-control:focus {
  border-bottom-color: $bluelt !important;
  background: #fff !important;
}

// Collapse - Read More
[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}

[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}

[data-toggle="collapse"] label {
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: $title-color;
  text-transform: uppercase;
  margin-bottom: 0;
  cursor: pointer;
}

.card.update-collapse {
  padding-bottom: 5px;
  .collapse-header {
    cursor: pointer;
    span {
      color: $blue;
    }
    &:hover {
      span {
        opacity: 0.5;
      }
    }
  }
  &.update-social {
    .form-group {
      .input-group {
        margin-top: 10px;
      }
    }
  }
  .form-group {
    margin-top: 10px;
    margin-bottom: 10px;
    span {
      text-transform: uppercase;
      font-size: 11px;
      color: $title-color;
      font-family: "Montserrat", sans-serif;
      display: block;
      padding-top: 10px;
    }
    .input-group {
      margin-bottom: 5px;
      .input-group-addon {
        border-radius: 0;
        border: none;
      }
    }
    .help-block {
      font-size: 11px;
    }
    .input-group {
      margin-bottom: 5px;
      .input-group-addon {
        border-radius: 0;
        border: none;
      }
    }
  }
}

#update-info-collapse {
  .alert {
    margin: 0 15px 15px;
    text-transform: none;
    span {
      font-size: 14px;
      line-height: 1.43;
      padding: 0;
      text-transform: none;
      font-family: "Open Sans", sans-serif;
    }
    &.alert-success {
      color: $green;
      background: #f6fff7;
      span {
        color: $green;
        text-transform: none;
      }
    }
    &.alert-danger {
      color: $red;
      text-transform: none;
      span {
        color: $red;
      }
    }
  }
}

.no-padding {
  padding: 0;
}

.campaign-block {
  transition: all 0.3s ease;
  position: absolute;
  display: block;
  opacity: 1;
  &:active {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    &.article {
      background: #78abde;
    }
    &.product {
      background: #a1ccf6;
    }
  }
  display: block;
  background: $gray;
  width: 100%;
  border-radius: $small-radius;
  margin-bottom: 10px;
  height: 50px;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .icon {
    color: $white;
    position: absolute;
    height: 50px;
    img {
      width: 12px;
      position: absolute;
      top: 14px;
      left: 12px;
      opacity: 0.7;
    }
  }
  .title {
    color: #fff;
    letter-spacing: 1px;
    overflow: hidden;
    line-height: 12px;
    position: absolute;
    padding: 19px;
    margin-left: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    z-index: 1;
    width: 60%;
    span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .btn-container {
    float: right;
    text-align: right;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        float: left;
        &:last-child {
          a {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          }
        }
        a {
          display: block;
          text-align: center;
          padding: 10px 10px 8px;
          min-width: 60px;
          text-decoration: none;
          box-sizing: border-box;
          transition: all 0.15s ease 0s;
          text-align: center;
          font-size: 10px;
          text-transform: uppercase;
          z-index: 9;
          cursor: pointer;
          transition: all 0.3s ease;
          &.disabled {
            opacity: 0.5;
            cursor: not-allowed !important;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }
          i {
            font-size: 16px;
          }
          &.btn-add {
            color: #ffffff;
            background-color: #4caf50;
            border: 1px solid #4caf50;
            &:hover,
            &:focus,
            &:active {
              background: #388e3c;
            }
          }
          &.btn-remove {
            color: #ffffff;
            background-color: #f44336;
            border: 1px solid #f44336;
            &:hover,
            &:focus,
            &:active {
              background: #e53935;
            }
          }
          &.btn-preview {
            color: #ffffff;
            background-color: #8b8c8c;
            border: 1px solid #8b8c8c;
            &:hover,
            &:focus,
            &:active {
              background: #767676;
            }
          }
        }
      }
    }
  }
  &.article {
    background: #66a3e0;
  }
  &.product {
    background: #87baec;
  }
}

.campaign {
  background: $white;
  .partner-logo {
    img {
      width: 100%;
    }
  }
  .campaign-header {
    text-align: center;
    padding: 25px 15px;
    .title {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 34px;
      line-height: 36px;
      color: #474747;
    }
    .month-tag {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 16px;
      line-height: 18px;
      color: #999999;
      margin: 10px 0 0;
    }
  }
  .edm {
    .edm-banner {
      img {
        width: 100%;
        max-width: 100%;
        display: block;
      }
    }
    .edm-content {
      text-align: center;
      padding: 25px 5px;
      .edm-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 28px;
        line-height: 36px;
        color: #3a3a3a;
        margin-bottom: 15px;
      }
      .edm-text {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #666666;
        padding: 0 20px;
      }
      .cta-button {
        display: block;
        padding: 25px 0;
        margin-top: 20px;
        a {
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          text-decoration: none;
          color: #ffffff;
          font-size: 14px;
          line-height: 14px;
          font-weight: bold;
          border-radius: 5px;
          padding: 14px 27px;
          border: solid 2px #13b5ea;
          background: #13b5ea;
        }
      }
    }
  }
  .campaign-footer {
    background: #e3e3e3;
    padding: 25px 20px;
    display: table;
    .about {
      width: 50%;
      float: left;
      .about-title,
      .about-title p {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
        letter-spacing: -0.05em;
        font-size: 26px;
        line-height: 24px;
        color: #626262;
        margin: 5px 0 20px;
      }
      .about-text,
      .about-text p {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #626262;
        line-height: 15px;
        text-align: left;
      }
      .company-name,
      .company-name p {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 12px;
        color: #626262;
        line-height: 15px;
        text-align: left;
        margin: 25px 0;
      }
      .address {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #626262;
        line-height: 15px;
        text-align: left;
      }
      .phone-number,
      .phone-number p {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 12px;
        color: #626262;
        line-height: 15px;
        text-align: left;
      }
      .website,
      .website p {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 12px;
        color: #626262;
        line-height: 15px;
        text-align: left;
        span {
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 600;
        }
        a {
          font-family: Arial, Helvetica, sans-serif;
          color: #00a6e0;
          font-weight: 300;
        }
      }
    }
    .map {
      width: 50%;
      float: right;
      .title,
      .title p {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
        letter-spacing: -0.05em;
        font-size: 26px;
        line-height: 24px;
        color: #626262;
        margin: 5px 0 20px;
        padding: 0 20px;
      }
      .image {
        padding: 0 20px;
        img {
          width: 100%;
          max-width: 100%;
          border: 3px solid #ffffff;
        }
      }
    }
    .social {
      width: 100%;
      display: table;
      padding: 20px 0;
      .title {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
        letter-spacing: -0.05em;
        font-size: 26px;
        line-height: 24px;
        color: #626262;
        margin: 5px 0 10px;
      }
      .links {
        border-bottom: 1px solid #ccc;
        height: 50px;
        ul {
          margin: 0;
          padding: 0;
          li {
            list-style: none;
            float: left;
            margin-right: 3px;
          }
        }
      }
    }
    .tagline,
    .message {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 11px;
      line-height: 24px;
      color: #666666;
      text-align: center;
      margin-bottom: 20px;
    }
    .footer-links {
      text-align: center;
      width: 100%;
      ul {
        text-align: center;
        padding: 0;
        margin: 0 auto;
        li {
          list-style: none;
          display: inline-block;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 13px;
          line-height: 20px;
          color: #13b5ea;
          text-align: center;
          text-transform: uppercase;
          a {
            display: block;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 13px;
            line-height: 20px;
            color: #13b5ea;
            text-align: center;
            text-transform: uppercase;
            &:hover {
              text-decoration: none;
            }
            &:after {
              content: "|";
              margin-left: 3px;
            }
          }
        }
        li:last-child {
          a:after {
            content: none;
            margin-left: 0;
          }
        }
      }
    }
  }
}

div.page-loading {
  background: url("../images/loading.gif") no-repeat center;
  width: 100%;
  height: 300px;
}

div.page-loading-sm {
  background: url("../images/spin-sm.gif") no-repeat center;
  width: 100%;
  height: 100px;
}

.loading-content {
  padding-top: 10%;
  img {
    display: block;
    margin: 0 auto;
  }
}

.tnc-modal {
  padding: 30px 5%;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
  position: relative;
  .title {
    margin-bottom: 30px;
  }
  h5 {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  p {
    padding-bottom: 15px;
  }
  .heading {
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 50px;
    position: relative;
    span {
      position: absolute;
      left: -50px;
    }
  }
  ul {
    margin: 15px 0 20px 0;
    padding: 0;
    list-style: none;
    li {
      margin-left: 50px;
      position: relative;
      span {
        position: absolute;
        left: -50px;
      }
    }
    ol {
      list-style-type: lower-latin;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      li {
        position: relative;
        padding-left: 20px;
        margin-left: 15px;
        // &::before {}
      }
    }
  }
}

.uib-datepicker-popup {
  .uib-button-bar {
    .btn.btn-info,
    .btn.btn-danger {
      display: none;
    }
  }
}

ul.uib-datepicker-popup {
  .uib-daypicker {
    > table {
      > tbody {
        tr {
          td {
            button.btn[disabled] {
              background-color: $lightgrey !important;
            }
          }
        }
      }
    }
  }
}

.campaign-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  .content-warning {
    width: 80%;
    text-align: center;
    background: $white;
    padding: 30px;
    margin: 10% auto 0;
    color: $gray;
    border-radius: $small-radius;
    box-shadow: $box-shadow;
    h3 {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 18px;
      font-weight: 500;
      font-family: "Montserrat", sans-serif;
      color: $title-color;
      padding-bottom: 15px;
    }
    .btn-wrapper {
      margin-top: 25px;
    }
  }
}

.schedule-date {
  min-width: 125px;
}
.schedule-time {
  min-width: 100px;
}

// update
.alert-container {
  padding: 15px 0 0;
  .red {
    color: $red;
  }
  .orange {
    color: $orange;
  }
  .blue {
    color: $blue;
  }
  .green {
    color: $green;
  }
  .alert {
    margin-bottom: 0;
  }
}

.header-container {
  // background: #fff;
  padding: 20px 0 15px;
  h1 {
    line-height: 0.7;
    font-size: 34px;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    padding-bottom: 15px;
    color: $title-color;
  }
  p {
    color: $title-color;
    font-size: 16px;
  }
}

// tooltip color
.tooltip {
  .tooltip-inner {
    background: #424242;
  }
}
.tooltip.top {
  .tooltip-arrow {
    border-top-color: #424242;
  }
}
.tooltip.right {
  .tooltip-arrow {
    border-right-color: #424242;
  }
}
.tooltip.bottom {
  .tooltip-arrow {
    border-bottom-color: #424242;
  }
}
.tooltip.left {
  .tooltip-arrow {
    border-left-color: #424242;
  }
}
// approve & schedule tooltip width
.sched-tooltip {
  .tooltip {
    width: 270px;
    .tooltip-inner {
      max-width: 270px;
    }
  }
}

.complete {
  iframe {
    max-width: 700px;
    margin: 0 auto;
  }
}

.one-click-message {
  .lead {
    font-size: 21px;
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.4;
  }
}

// changed alert default color
.alert-danger {
  background: #ffebee;
  border-color: $red;
  color: $red;
  h2 {
    font-weight: 400;
    color: $red;
    margin-top: 0;
  }
  p {
    color: $red;
    margin-bottom: 0;
  }
  a {
    color: $red;
  }
  .btn {
    color: $white;
    text-decoration: none;
  }
}

.hotjar-iframe {
  margin-bottom: $margin-default;
  background: $white;
  border-radius: $small-radius;
}

.alert {
  margin-bottom: 0;
}

.modal-dialog-center {
  margin-top: 10%;
}
// Intercom app
#intercom-container .intercom-launcher-discovery-frame,
#intercom-container .intercom-launcher-frame {
  right: 90px !important;
}

.article-library {
  padding: 15px 0;
  .card {
    margin-bottom: $margin-default;
    box-shadow: $box-shadow;
    padding: 15px;
    background: $white;
    border-radius: $small-radius;
    position: relative;
  }
  .article-search {
    .submit {
      // margin-top: 36px;
    }
    .help-block {
      margin-bottom: 0;
    }
  }
  .articles-list {
    .article-item {
      .name {
        a {
          font-weight: 600;
          margin: 0;
          padding: 0;
          position: relative;
          &:hover {
            text-decoration: none;
          }
          .label-success {
            position: relative;
            top: -2px;
            padding: .2em .6em;;
            color: #5cb85c;
            border: 1px solid #5cb85c;
            background: #ffffff;
          }
        }
      }
      .details {
        position: relative;
        color: #adadad;
        font-size: 12px;
        min-height: 15px;
        .date {
          position: absolute;
          left: 0;
          &:after {
            content: "|";
            left: 5px;
            top: -1px;
            position: relative;
          }
        }
        .vertical {
          position: absolute;
          left: 70px;
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            display: inline;
            &::after {
              content: ",";
            }
            &:last-child::after {
              content: " ";
            }
          }
        }
      }
    }
    .table {
      margin-bottom: 0;
      tr {
        td {
          border-top-color:#f5f5f5;
          .vertical-align: middle;
        }
      }
      tr:first-child {
        td {
          border-top-color: #ffffff;
        }
      }

    }
  }
  .article-aside {
    .card {
      padding: 0;
      .aside-heading {
        padding: 15px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 1px;
        border-bottom: 5px solid #f5f5f5;
        .help-text {
          text-transform: none;
          font-weight: normal;
          margin: 5px 0 0;
          font-size: 14px;
          color: #888888;
        }
      }
      .vertical-container {
          padding: 15px;
        .cat-wrapper {
          display: table;
          width: 100%;
          .cat-col {
            width: 50%;
            float: left;
          }
          .right {
            border-left: 1px solid #fff;
          }
        }

        .checkbox-wrapper {
          // margin-bottom: 0.5rem;
          input[type="checkbox"] {
            position: absolute;
            left: -9999px;
          }
        }

        label.checkbox {
          display: block;
          position: relative;
          margin: 0;
          // margin-bottom: 1px;
          padding: 8px 30px 10px 30px;
          border-bottom: 1px solid #fff;
          border-radius: 0;
          color: #08a5dc;
          background-color: #ffffff;
          white-space: wrap;
          cursor: pointer;
          user-select: none;
          transition: background-color 0.2s;
          width: 100%;
          font-size: 14px;
          font-weight: normal;
          text-transform: none;
        }

        label.checkbox::before {
          content: "";
          display: block;
          position: absolute;
          top: 11px;
          bottom: 10px;
          left: 10px;
          width: 13px;
          height: 13px;
          border: 1px solid #dddddd;
          border-radius: 0;
          transition: background-color 0.2s;
        }

        // label.checkbox:first-of-type {
        //   transform: translateX(-40px);
        // }

        // label.checkbox:last-of-type {
        //   transform: translateX(40px);
        // }

        // label.checkbox:hover, input:focus + label.checkbox {
        //   box-shadow: 0 0 20px rgba(0, 0, 0, .6);
        // }

        input:checked + label.checkbox {
          background-color: #08a5dc;
          color: #ffffff;
          padding: 8px 30px 10px 30px;
        }

        input:checked + label.checkbox::before {
          content: "";
          display: block;
          position: absolute;
          top: 11px;
          bottom: 10px;
          left: 10px;
          width: 13px;
          height: 13px;
          border: 1px solid #007bff;
          border-radius: 0;
          transition: background-color 0.2s;
        }

        input:checked + label.checkbox::before {
          background-color: #007bff;
          border: 5px solid #ffffff;
        }
      }
    }
  }

  .form-group {
    label {
      margin-bottom: 5px;
      font-weight: 600;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      color: #333333;
    }
  }
  .form-control {
    border: solid 1px #dce4e6 !important;
  }
}

.alerts-container {
  position: relative;
  .clipboardAlert {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 100%;
    max-width: 300px;
    z-index: 10;
    -webkit-box-shadow: 0px 21px 65px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 21px 65px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 21px 65px 6px rgba(0, 0, 0, 0.2);
  }
}

.articlepreviewcontent {
  padding: 15px;
  h4 {
    font-family: "Open Sans";
    color: #212121;
    font-size: 24px;
  }
}
.modal-content {
  .banner {
    border-radius: 4px 4px 0 0;
  }
}
@media only screen and (max-width: 480px) {
  .article-library {
    .card {
      margin-left: 0;
      margin-right: 0;
      border-radius: 0;
    }
    .article-table {
      .article-item {
        .name {
          a {
            .label-success {
              position: absolute;
              left: -10px;
              top: -25px;
              padding: .4em .6em;
            }
          }
        }
        td {
          display: block;
          width: 100%;
          padding: 0 15px;
          border-top:#ffffff;
          border-bottom: #ffffff;
          border-left: 1px solid #dce4e6;
          border-right: 1px solid #dce4e6;
          &:first-child {
            border-top: 1px solid #dce4e6 !important;
            display: none;
          }
          &:first-child {
            text-align: right;
            padding-top: 30px;
            padding-bottom: 0;
          }
          &:last-child {
            padding-top: 15px;
            padding-bottom: 30px;
          }
          &:nth-child(2) {
            padding: 30px 15px 0;
            border-top: 1px solid #dce4e6;
          }
        }
        &:first-child {
          td:nth-child(2) {
            border-top: 1px solid #dce4e6;
          }
        }
        &:last-child {
          td:last-child {
            border-bottom: 1px solid #dce4e6;
          }
        }
      }
    }
  }
}
body {
    padding-bottom: 100px;
}

@media only screen and (max-width: 1200px) {
    .container {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }


