* {
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
  text-rendering: optimizeSpeed;
}

h1, h2, h3, h4, h5, h6, p {
  color: #212121;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
  font-weight: 600;
}

h6 {
  font-size: 12px;
  font-weight: 600;
}

a {
  color: #08A5DC;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

a:hover {
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

a:focus {
  text-decoration: none;
}

::-moz-selection {
  background: #212121;
  color: #ffffff;
}

::selection {
  background: #212121;
  color: #ffffff;
}

.btn {
  border-radius: 2px;
  letter-spacing: 1px;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
}

.btn:hover {
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.btn-primary {
  background: #08A5DC;
  border-color: #08A5DC;
}

.btn-primary:hover {
  background: #0793c3;
  border-color: #0793c3;
}

.btn-primary:focus {
  background: #056e92;
  border-color: #056e92;
}

.btn-warning {
  background: #FFC107;
  border-color: #FFC107;
}

.btn-warning:hover {
  background: #ecb100;
  border-color: #ecb100;
}

.btn-warning:focus {
  background: #b98b00;
  border-color: #b98b00;
}

.btn-success {
  background: #4CAF50;
  border-color: #4CAF50;
}

.btn-success:hover {
  background: #449d48;
  border-color: #449d48;
}

.btn-success:focus {
  background: #357a38;
  border-color: #357a38;
}

.panel {
  border-radius: 2px;
}
.panel h1, .panel h2, .panel h3 {
  margin-top: 10px;
}

.panel-default {
  background: #f5f5f5;
  border-color: #f5f5f5;
}

.panel-primary {
  background: #BBDEFB;
  border-color: #BBDEFB;
}

.panel-success {
  background: #DCEDC8;
  border-color: #DCEDC8;
}

.panel-info {
  background: #BBDEFB;
  border-color: #BBDEFB;
}

.panel-warning {
  background: #FFF9C4;
  border-color: #FFF9C4;
}

.panel-danger {
  background: #ffcdd2;
  border-color: #ffcdd2;
}

.modal-content {
  border-radius: 3px;
}
.modal-content .modal-header h4 {
  font-weight: 600;
}

.landing-page {
  background-color: #f5f5f5;
}
.landing-page .container {
  max-width: 1140px;
}
.landing-page .landing-page-header {
  background: #ffffff;
}
.landing-page .landing-page-header .navbar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.landing-page .landing-page-header .navbar img {
  margin: 0 auto;
  display: block;
}
.landing-page .article-container {
  margin-bottom: 15px;
  border-radius: 0px;
}
.landing-page .article-container .card {
  margin-bottom: 15px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  padding: 0;
  background: #f5f5f5;
  border-radius: 3px;
}
.landing-page .article-container .card .card-header {
  border-radius: 3px;
}
.landing-page .article-container .card .card-header img {
  width: 100%;
  height: auto;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.landing-page .article-container .card .card-header .card-details {
  display: block;
}
.landing-page .article-container .card .card-header .card-details ul {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #f5f5f5;
  width: 100%;
}
.landing-page .article-container .card .card-header .card-details ul li {
  list-style: none;
  text-transform: uppercase;
  margin: 0 0 0 -4px;
  padding: 0;
  display: inline-block;
  font-size: 12px;
  text-align: center;
}
.landing-page .article-container .card .card-header .card-details ul li:first-child {
  margin-left: 0;
}
.landing-page .article-container .card .card-header .card-details ul li.text {
  border-right: 1px solid #f5f5f5;
  padding: 12px;
}
.landing-page .article-container .card .card-header .card-details ul li.link a {
  padding: 12px;
  display: block;
  border-right: 1px solid #f5f5f5;
}
.landing-page .article-container .card .card-header .card-details ul li.link a:hover {
  background: #08A5DC;
  color: white;
  text-decoration: none;
}
.landing-page .article-container .card .card-header .card-details ul li.icon a {
  padding: 12px;
  display: block;
  min-width: 44px;
  text-align: center;
  border-right: 1px solid #f5f5f5;
}
.landing-page .article-container .card .card-header .card-details ul li.icon a:hover {
  color: #ffffff;
}
.landing-page .article-container .card .card-header .card-details ul li.icon a.tw:hover {
  background: #55acee;
}
.landing-page .article-container .card .card-header .card-details ul li.icon a.fb:hover {
  background: #3b5999;
}
.landing-page .article-container .card .card-header .card-details ul li.icon a.gp:hover {
  background: #dd4b39;
}
.landing-page .article-container .card .card-contents {
  padding: 15px;
}
.landing-page .article-container .card .card-contents .card-title h1 {
  margin: 5px 0 20px;
}
.landing-page .article-container .card .card-footer {
  padding: 11px;
  border-top: 1px solid #f5f5f5;
}
.landing-page .article-container .card .card-footer .btn {
  margin: 2px;
}
.landing-page .sidebar-container .sidebar {
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}
.landing-page .sidebar-container .sidebar .sidebar-header {
  padding: 15px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  border-bottom: 5px solid #f5f5f5;
}
.landing-page .sidebar-container .sidebar .sidebar-links {
  margin: 0;
  padding: 0;
}
.landing-page .sidebar-container .sidebar .sidebar-links li {
  list-style: none;
  border-bottom: 1px solid #f5f5f5;
}
.landing-page .sidebar-container .sidebar .sidebar-links li a {
  padding: 10px 15px;
  display: block;
  font-weight: 400;
  letter-spacing: 1px;
  color: #212121;
}
.landing-page .sidebar-container .sidebar .sidebar-links li a:hover {
  background: #f5f5f5;
  text-decoration: none;
}
.landing-page .sidebar-container .sidebar .sidebar-links li a:focus {
  background: #9E9E9E;
  color: #ffffff;
  text-decoration: none;
}
.landing-page .sidebar-container .sidebar .sidebar-links li:last-child {
  border-bottom: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.landing-page .sidebar-container .sidebar .sidebar-links li:last-child a {
  border-bottom: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.landing-page .sidebar-container .sidebar .sidebar-thumbnails {
  margin: 0;
  padding: 0;
}
.landing-page .sidebar-container .sidebar .sidebar-thumbnails li {
  list-style: none;
  border-bottom: 1px solid #f5f5f5;
  display: block;
}
.landing-page .sidebar-container .sidebar .sidebar-thumbnails li:last-child {
  border-bottom: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.landing-page .sidebar-container .sidebar .sidebar-thumbnails li:last-child a:hover {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.landing-page .sidebar-container .sidebar .sidebar-thumbnails li:last-child a:focus {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.landing-page .sidebar-container .sidebar .sidebar-thumbnails li a {
  display: block;
  height: 60px;
  position: relative;
}
.landing-page .sidebar-container .sidebar .sidebar-thumbnails li a .media .media-left img {
  width: 120px;
  height: 60px;
  border-bottom-left-radius: 3px;
}
.landing-page .sidebar-container .sidebar .sidebar-thumbnails li a .media .media-body {
  padding: 5px 5px 5px 0;
  display: table-cell;
  vertical-align: middle;
}
.landing-page .sidebar-container .sidebar .sidebar-thumbnails li a .media .media-body h4 {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.landing-page .sidebar-container .sidebar .sidebar-thumbnails li a:hover {
  background: #f5f5f5;
  text-decoration: none;
}
.landing-page .sidebar-container .sidebar .sidebar-thumbnails li a:focus {
  background: #9E9E9E;
}
.landing-page .sidebar-container .sidebar .sidebar-thumbnails li a:focus h4 {
  color: #ffffff;
}
.landing-page .sidebar-container .sidebar .sidebar-thumbnails li a:focus p {
  color: #ffffff;
}
.landing-page .sidebar-container .sidebar .sidebar-footer {
  padding: 15px;
}
.landing-page .footer {
  background: #212121;
  color: #ffffff;
  padding: 15px 15px 5px;
  margin-top: 50px;
}
.landing-page .footer .footer-menu {
  text-align: left;
}
.landing-page .footer .footer-menu ul {
  margin: 0;
  padding: 0;
}
.landing-page .footer .footer-menu ul li {
  list-style: none;
  display: inline-block;
}
.landing-page .footer .footer-menu ul li a {
  display: block;
  font-size: 12px;
  margin: 3px 5px;
}
.landing-page .footer .footer-text {
  text-align: right;
}
.landing-page .footer a {
  text-transform: uppercase;
}
.landing-page .footer a:hover {
  text-decoration: none;
}
.landing-page .footer p {
  color: #ffffff;
}

[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}

[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}

.main-container.sixhundred {
  max-width: 990px;
}

@media only screen and (max-width: 480px) {
  .landing-page .article-container .card {
    display: block;
  }
  .landing-page .article-container .card .card-footer {
    padding: 0 11px 15px;
  }
  .landing-page .article-container .card .card-footer .btn {
    width: calc(100% - 4px);
    margin-top: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .landing-page .footer .container {
    max-width: 1140px;
  }
  .landing-page .footer .container .footer-text {
    text-align: center;
  }
  .landing-page .footer .container .footer-menu {
    text-align: center;
    margin-bottom: 15px;
  }
}
.main-container.sixhundred {
  max-width: 990px;
}

ol {
  counter-reset: item;
}
ol li {
  display: block;
  position: relative;
}
ol li:before {
  content: counters(item, ".")".";
  counter-increment: item;
  position: absolute;
  margin-right: 100%;
  right: 10px; /* space between number and text */
}

ol li.list-title {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}
ol li.list-title ol {
  font-weight: normal;
  text-transform: none;
  margin-top: 5px;
}
.main-container.terms {
  margin-bottom: 50px;
}
/*# sourceMappingURL=main.css.map */