* {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  text-rendering: optimizeSpeed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #525f66;
}

p {
  color: #212121;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
  font-weight: 600;
}

h6 {
  font-size: 12px;
  font-weight: 600;
}

a {
  color: #08a5dc;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.disabled {
  opacity: 0.7;
  cursor: not-allowed !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:hover {
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

a:focus {
  text-decoration: none;
}

::-moz-selection {
  background: #212121;
  color: #ffffff;
}

::selection {
  background: #212121;
  color: #ffffff;
}

.btn {
  border-radius: 2px;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
}

.btn:hover {
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.btn-primary {
  background: #08a5dc;
  border-color: #08a5dc;
}

.btn-primary:hover {
  background: #0793c3;
  border-color: #0793c3;
}

.btn-primary:focus {
  background: #056e92;
  border-color: #056e92;
}

.btn-warning {
  background: #ff7043;
  border-color: #ff7043;
}

.btn-warning:hover {
  background: #f53b00;
  border-color: #f53b00;
}

.btn-warning:focus {
  background: #dc3500;
  border-color: #dc3500;
}

.btn-success {
  background: #4caf50;
  border-color: #4caf50;
}

.btn-success:hover {
  background: #449d48;
  border-color: #449d48;
}

.btn-success:focus {
  background: #357a38;
  border-color: #357a38;
}

.btn-hover-blue:hover {
  background: #08a5dc;
  border-color: #08a5dc;
  color: #ffffff;
}

.btn-danger {
  background: #f44336;
  border-color: #f44336;
  color: #ffffff;
}

.btn-link-muted {
  color: #616161;
}

.btn-link-muted:hover {
  color: #525f66;
}

.row-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.margin-top {
  margin-top: 15px;
}

.margin-top-big {
  margin-top: 30px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.margin-bottom-big {
  margin-bottom: 30px;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.padding-top-small {
  padding-top: 5px;
}

.padding-top {
  padding-top: 15px;
}

.padding-top-big {
  padding-top: 30px;
}

.padding-bottom-small {
  padding-bottom: 5px;
}

.padding-bottom {
  padding-bottom: 15px;
}

.padding-bottom-big {
  padding-bottom: 30px;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.alert {
  border-radius: 3px;
}
.alert.complete {
  max-width: 700px;
  margin: 0 auto 15px;
  line-height: 1.2;
}
.alert p {
  line-height: 1.2;
}
.alert a {
  text-decoration: underline;
}
.alert .btn {
  text-decoration: none;
}

.alert-warning {
  background: #fbe9e7;
  border-color: #ff7043;
  color: #ff7043;
}
.alert-warning h2 {
  font-weight: 400;
  color: #ff7043;
  margin-top: 0;
}
.alert-warning p {
  color: #ff7043;
  margin-bottom: 0;
}
.alert-warning a {
  color: #ff7043;
}
.alert-warning .btn {
  color: #ffffff;
  text-decoration: none;
}

.alert-info {
  background: #e1f5fe;
  border-color: #08a5dc;
  color: #08a5dc;
}
.alert-info h2 {
  font-weight: 400;
  color: #08a5dc;
  margin-top: 0;
}
.alert-info p {
  color: #08a5dc;
  margin-bottom: 0;
}
.alert-info a {
  color: #08a5dc;
}
.alert-info .btn {
  background: #08a5dc;
  color: #ffffff;
  text-decoration: none;
}

.content-warning {
  width: 80%;
  text-align: center;
  background: #f2f2f2;
  border: 1px solid #e4e4e4;
  padding: 30px;
  margin: 10% auto 0;
  color: #9e9e9e;
}

.alert-success {
  border: 1px solid #4caf50;
  background: #4caf50;
  color: #ffffff;
}
.alert-success h2 {
  font-weight: 400;
  color: #ffffff;
  margin-top: 0;
}
.alert-success p {
  color: #ffffff;
  margin-bottom: 0;
}
.alert-success a {
  color: #4caf50;
}
.alert-success .btn {
  color: #ffffff;
  text-decoration: none;
}

.no-padding-bottom {
  padding-bottom: 0;
}

body {
  background: #f5f5f5;
}

header {
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  height: 70px;
  margin: 0;
  padding: 0;
  clear: both;
}
header .logo h1 {
  margin: 0;
  padding: 0;
}
header .logo h1 img {
  width: 100%;
  max-width: 175px;
  margin-top: 5px;
}

.main-navigation {
  margin-top: 15px;
}
.main-navigation .nav {
  margin-bottom: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin: 0 15px;
  background: #ffffff;
  border-radius: 3px;
}
.main-navigation .nav .page-title {
  float: left;
  height: 70px;
  display: table;
  padding: 0 15px;
}
.main-navigation .nav .page-title span {
  vertical-align: middle;
  text-transform: uppercase;
  display: table-cell;
  font-weight: 300;
}
.main-navigation .nav .page-title h1 {
  font-size: 22px;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
.main-navigation .nav .right {
  float: right;
}
.main-navigation .nav .right ul {
  margin: 0;
  padding: 0;
}
.main-navigation .nav .right ul li {
  float: left;
  list-style: none;
  padding: 0;
  height: 70px;
  display: block;
  cursor: pointer;
  border-right: 1px solid #eeeeee;
}
.main-navigation .nav .right ul li:first-child {
  border-left: 1px solid #eeeeee;
}
.main-navigation .nav .right ul li:last-child a {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.main-navigation .nav .right ul li a {
  display: table;
  height: 70px;
  padding: 0 20px;
  text-transform: uppercase;
  font-size: 14px;
  color: #222;
}
.main-navigation .nav .right ul li a.disabled {
  opacity: 0.7;
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.main-navigation .nav .right ul li a:hover {
  text-decoration: none;
}
.main-navigation .nav .right ul li a span {
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
  padding: 0 15px;
}
.main-navigation .nav .right ul li a span i {
  margin-right: 15px;
}
.main-navigation .nav .right ul li a.btn-back:hover {
  background: #08a5dc;
  color: #fff;
}
.main-navigation .nav .right ul li a.btn-back:hover.disabled {
  color: #9e9e9e;
  background: #ffffff;
}
.main-navigation .nav .right ul li a.btn-skip:hover {
  background: #ff7043;
  color: #fff;
}
.main-navigation .nav .right ul li a.btn-skip:hover.disabled {
  color: #9e9e9e;
  background: #ffffff;
}
.main-navigation .nav .right ul li a.btn-preview:hover {
  background: #81d4fa;
  color: #fff;
}
.main-navigation .nav .right ul li a.btn-preview:hover.disabled {
  color: #9e9e9e;
  background: #ffffff;
}
.main-navigation .nav .right ul li a.btn-save {
  background: #4caf50;
  color: #fff;
}
.main-navigation .nav .right ul li a.btn-save:hover, .main-navigation .nav .right ul li a.btn-save:focus, .main-navigation .nav .right ul li a.btn-save:active {
  background: #388e3c;
  color: #ffffff;
}
.main-navigation .nav .right ul li a.btn-reject {
  background: #f44336;
  color: #fff;
}
.main-navigation .nav .right ul li a.btn-reject:hover, .main-navigation .nav .right ul li a.btn-reject:focus, .main-navigation .nav .right ul li a.btn-reject:active {
  background: #ea3b2e;
  color: #ffffff;
}

.main-container {
  padding: 15px 0 30px;
  margin-bottom: 70px;
}
.main-container .campaign-wrapper {
  display: block;
  margin: 0 auto;
  min-height: 382px;
  position: relative;
}
.main-container .card {
  margin-bottom: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: #ffffff;
  border-radius: 3px;
  position: relative;
}
.main-container .card .terms-container {
  margin: 0 0 -7px;
  font-style: italic;
  color: #9e9e9e;
}
.main-container .card .terms-container .checkbox label {
  color: #212121;
  font-style: normal;
}
.main-container .card .terms-container a {
  color: #616161;
  font-weight: bold;
}
.main-container .card .alert-incomplete {
  z-index: 2;
  position: absolute;
  top: -10px;
  left: -8px;
  font-size: 24px;
  border-radius: 50%;
  padding: 0;
  line-height: 0;
  border: none;
  color: #f44336;
}
.main-container .card.complete {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}
.main-container .card.complete .page-title {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.main-container .card.complete .page-title i {
  color: #4caf50;
  font-size: 32px;
}
.main-container .card.complete .btn {
  margin: 20px 0;
}
.main-container .card.completepage {
  max-width: 700px;
  margin: 0 auto;
}
.main-container .card.completepage .media {
  max-width: 400px;
  display: block;
  margin: 15px auto;
}
.main-container .card.completepage .media .media-left.icon {
  font-size: 72px;
  line-height: 0;
  color: #4caf50;
}
.main-container .card.completepage .media .media-body .media-heading {
  margin-top: 12px;
}
.main-container .card.completepost {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.main-container .card.completepost .number {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #525f66;
  font-size: 14px;
  padding-top: 5px;
  text-transform: uppercase;
}
.main-container .card.completepost.article .number .fa {
  margin-right: 5px;
  color: #4caf50;
  font-size: 16px;
}
.main-container .card.completepost.social .number .fa {
  margin-right: 5px;
  color: #0077b5;
  font-size: 16px;
}
.main-container .card.completepost .contents {
  margin-top: 10px;
  font-size: 14px;
}
.main-container .card.completepost .contents .content-item {
  padding-bottom: 5px;
}
.main-container .card.completepost .contents .content-item .title-content,
.main-container .card.completepost .contents .content-item .subject-line {
  color: #525f66;
  font-size: 14px;
}
.main-container .card.completepost .contents .content-item .content-label {
  font-weight: 600;
  text-transform: uppercase;
  color: #525f66;
  font-family: "Montserrat", sans-serif;
}
.main-container .card.completepost .contents .content-item .content::before {
  content: ":";
  position: relative;
  left: -2px;
}
.main-container .card.completepost .contents .contact {
  padding-top: 5px;
  display: block;
  font-size: 12px;
  color: #525f66;
}
.main-container .card.completepost .btn-preview {
  color: #ffffff;
  background-color: #08a5dc;
  border: 1px solid #08a5dc;
}
.main-container .card.completepost .btn-preview:hover, .main-container .card.completepost .btn-preview:focus, .main-container .card.completepost .btn-preview:active {
  background: #0793c3;
}
.main-container .card .option-wrapper {
  margin-bottom: 15px;
  border-left: 1px solid #eeeeee;
}
.main-container .card .header {
  padding-top: 15px;
}
.main-container .button-container {
  padding: 15px;
  position: relative;
}
.main-container .button-container.completepagebutton {
  margin: 30px auto;
  text-align: center;
}
.main-container .button-container.completepagebutton .btn {
  background: #ff9800;
  border-color: #ff9800;
  color: #212121;
}
.main-container .button-container.completepagebutton .btn:hover {
  background: #b36a00;
  border-color: #b36a00;
}
.main-container .button-container.completepagebutton .btn:focus {
  background: #995b00;
  border-color: #995b00;
}
.main-container .completefeedback {
  margin-top: 30px;
}
.main-container .social .heading {
  text-align: center;
  margin-bottom: 30px;
}
.main-container .social .heading h2 {
  font-weight: 300;
}
.main-container .social .heading p {
  font-size: 16px;
  margin-top: 15px;
  color: #525f66;
}
.main-container .social .card {
  text-align: center;
  font-size: 16px;
  color: #525f66;
}
.main-container .social .card h3 {
  text-transform: uppercase;
  margin-top: 30px;
}
.main-container .social .card p {
  color: #525f66;
  margin: 30px 15px;
}
.main-container .social .card .linkedin {
  text-align: center;
  margin: 30px 0;
}
.main-container .social .card.text-left {
  text-align: left;
}

@media only screen and (max-width: 992px) {
  header .col-md-5 {
    background: #ffffff;
    border-bottom: 1px solid #eeeeee;
  }
  header .col-md-7 {
    background: #ffffff;
  }

  .main-navigation {
    margin-top: 15px;
    border-top: 1px solid #eeeeee;
  }
  .main-navigation .nav {
    display: block;
    margin: 0 auto;
    margin: 0 15px;
  }
  .main-navigation .nav .page-title span h1 {
    font-size: 18px;
  }
  .main-navigation .nav .right ul li a {
    padding: 0 10px;
  }
  .main-navigation .nav .right ul li a span {
    font-size: 12px;
  }
  .main-navigation .nav .right ul li a span i {
    font-size: 14px;
    margin-right: 5px;
  }

  .main-container .options-container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    min-width: 1260px;
  }
}
@media only screen and (max-width: 660px) {
  .main-navigation {
    margin-top: 0;
  }
  .main-navigation .nav {
    margin: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    border-radius: 0;
  }
  .main-navigation .nav .page-title {
    float: none;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    text-align: center;
  }
  .main-navigation .nav .page-title span {
    vertical-align: middle;
    text-transform: uppercase;
    display: table-cell;
    font-weight: 300;
  }
  .main-navigation .nav .page-title h1 {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-weight: 400;
  }
  .main-navigation .nav .right {
    float: none;
  }
  .main-navigation .nav .right ul {
    margin: 0;
    padding: 0;
  }
  .main-navigation .nav .right ul li {
    width: 50%;
    height: 50px;
  }
  .main-navigation .nav .right ul li.preview {
    width: 100%;
  }
  .main-navigation .nav .right ul li:first-child {
    border-left: 1px solid #eeeeee;
  }
  .main-navigation .nav .right ul li:last-child a {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .main-navigation .nav .right ul li a {
    display: table;
    height: 50px;
    width: 100%;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 14px;
    color: #222;
  }
  .main-navigation .nav .right ul li a span {
    text-align: center;
  }
  .main-navigation .nav .right ul li a span i {
    display: none;
  }

  .center-mobile {
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  .card {
    margin-left: -15px;
    margin-right: -15px;
  }
  .card .drop-container {
    margin-left: -15px;
    margin-right: -15px;
  }
  .card .drop-container .campaign-block {
    height: 40px;
  }
  .card .drop-container .campaign-block .icon {
    height: 40px;
  }
  .card .drop-container .campaign-block .icon img {
    width: 8px;
    position: absolute;
    top: 13px;
    left: 10px;
    opacity: 0.7;
  }
  .card .drop-container .campaign-block .title {
    line-height: 12px;
    height: 30px;
    font-size: 12px;
    padding: 8px 7px 8px 19px;
    margin-left: 8px;
    width: calc(80% - 28px);
    text-overflow: initial;
    white-space: normal;
  }
  .card .drop-container .campaign-block .btn-container ul li a {
    padding: 12px 5px;
    min-width: 42px;
    text-align: center;
    font-size: 10px;
  }
  .card .drop-container .campaign-block .btn-container ul li a .icon-label {
    display: none;
  }
  .card .alert-incomplete {
    left: 5px !important;
  }
}
@media (min-width: 768px) {
  .edm-panel-dialog {
    min-width: 602px;
  }
}
.options-wrapper h3 {
  margin: 0 0 5px 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #525f66;
  letter-spacing: 1px;
}
.options-wrapper .help-block {
  color: #525f66;
  font-size: 13px;
  margin-bottom: 15px;
}
.options-wrapper .more-content {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  font-family: "Montserrat", sans-serif;
}
.options-wrapper .drop-container {
  padding: 10px;
  min-height: 55px;
  background: #f5f5f5;
}
.options-wrapper .drop-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.options-wrapper .drop-container ul.drop {
  margin: 0;
  padding: 0;
}
.options-wrapper .drop-container ul.drop li.unused {
  background: #b3e5fc;
  margin-bottom: 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #01579b;
  list-style: none;
  position: relative;
  margin-bottom: 10px;
  display: table;
  width: 100%;
  padding-left: 15px;
}
.options-wrapper .drop-container ul.drop li.unused span {
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
}
.options-wrapper .drop-container ul.drop li.unused .btn-container {
  float: right;
  text-align: right;
}
.options-wrapper .drop-container ul.drop li.unused .btn-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.options-wrapper .drop-container ul.drop li.unused .btn-container ul li {
  display: inline-block;
}
.options-wrapper .drop-container ul.drop li.unused .btn-container ul li:last-child button {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.options-wrapper .drop-container ul.drop li.unused .btn-container ul li button {
  display: block;
  text-align: center;
  padding: 10px 10px 8px;
  min-width: 60px;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-transition: all 0.15s ease 0s;
          transition: all 0.15s ease 0s;
  margin-left: -4px;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
}
.options-wrapper .drop-container ul.drop li.unused .btn-container ul li button i {
  font-size: 16px;
}
.options-wrapper .drop-container ul.drop li.unused .btn-container ul li button.btn-add {
  color: #ffffff;
  background-color: #4caf50;
  border: 1px solid #4caf50;
}
.options-wrapper .drop-container ul.drop li.unused .btn-container ul li button.btn-add:hover, .options-wrapper .drop-container ul.drop li.unused .btn-container ul li button.btn-add:focus, .options-wrapper .drop-container ul.drop li.unused .btn-container ul li button.btn-add:active {
  background: #388e3c;
}
.options-wrapper .drop-container ul.drop li.unused .btn-container ul li button.btn-remove {
  color: #ffffff;
  background-color: #f44336;
  border: 1px solid #f44336;
}
.options-wrapper .drop-container ul.drop li.unused .btn-container ul li button.btn-remove:hover, .options-wrapper .drop-container ul.drop li.unused .btn-container ul li button.btn-remove:focus, .options-wrapper .drop-container ul.drop li.unused .btn-container ul li button.btn-remove:active {
  background: #e53935;
}
.options-wrapper .drop-container ul.drop li.unused .btn-container ul li button.btn-preview {
  color: #ffffff;
  background-color: #08a5dc;
  border: 1px solid #08a5dc;
}
.options-wrapper .drop-container ul.drop li.unused .btn-container ul li button.btn-preview:hover, .options-wrapper .drop-container ul.drop li.unused .btn-container ul li button.btn-preview:focus, .options-wrapper .drop-container ul.drop li.unused .btn-container ul li button.btn-preview:active {
  background: #0793c3;
}
.options-wrapper .drop-container ul.drop li.inuse {
  background: #03a9f4;
  margin-bottom: 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #ffffff;
  list-style: none;
  position: relative;
  margin-bottom: 10px;
  display: table;
  width: 100%;
  padding-left: 15px;
}
.options-wrapper .drop-container ul.drop li.inuse span {
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
}
.options-wrapper .drop-container ul.drop li.inuse .btn-container {
  float: right;
  text-align: right;
}
.options-wrapper .drop-container ul.drop li.inuse .btn-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.options-wrapper .drop-container ul.drop li.inuse .btn-container ul li {
  display: inline-block;
}
.options-wrapper .drop-container ul.drop li.inuse .btn-container ul li:last-child button {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.options-wrapper .drop-container ul.drop li.inuse .btn-container ul li button {
  display: block;
  text-align: center;
  padding: 10px 10px 8px;
  min-width: 60px;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-transition: all 0.15s ease 0s;
          transition: all 0.15s ease 0s;
  margin-left: -4px;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
}
.options-wrapper .drop-container ul.drop li.inuse .btn-container ul li button i {
  font-size: 16px;
}
.options-wrapper .drop-container ul.drop li.inuse .btn-container ul li button.btn-add {
  color: #ffffff;
  background-color: #4caf50;
  border: 1px solid #4caf50;
}
.options-wrapper .drop-container ul.drop li.inuse .btn-container ul li button.btn-add:hover, .options-wrapper .drop-container ul.drop li.inuse .btn-container ul li button.btn-add:focus, .options-wrapper .drop-container ul.drop li.inuse .btn-container ul li button.btn-add:active {
  background: #388e3c;
}
.options-wrapper .drop-container ul.drop li.inuse .btn-container ul li button.btn-remove {
  color: #ffffff;
  background-color: #f44336;
  border: 1px solid #f44336;
}
.options-wrapper .drop-container ul.drop li.inuse .btn-container ul li button.btn-remove:hover, .options-wrapper .drop-container ul.drop li.inuse .btn-container ul li button.btn-remove:focus, .options-wrapper .drop-container ul.drop li.inuse .btn-container ul li button.btn-remove:active {
  background: #e53935;
}
.options-wrapper .drop-container ul.drop li.inuse .btn-container ul li button.btn-preview {
  color: #ffffff;
  background-color: #08a5dc;
  border: 1px solid #08a5dc;
}
.options-wrapper .drop-container ul.drop li.inuse .btn-container ul li button.btn-preview:hover, .options-wrapper .drop-container ul.drop li.inuse .btn-container ul li button.btn-preview:focus, .options-wrapper .drop-container ul.drop li.inuse .btn-container ul li button.btn-preview:active {
  background: #0793c3;
}

.grabbable {
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.table-placeholder {
  width: 600px;
  height: 1000px;
  display: table;
  background: #ffffff;
}

.bg-red {
  background: red;
}

.bg-blue {
  background: blue;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  -webkit-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  border: none;
  border-top: none !important;
  border-right: none !important;
  border-bottom: solid 1px #dce4e6 !important;
  border-left: none !important;
  border-radius: 0 !important;
  background: #f5f8f9 !important;
  box-shadow: none !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-bottom-color: #90caf9 !important;
  background: #fff !important;
}

.form-group {
  margin-bottom: 5px;
  position: relative;
}
.form-group label {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #525f66;
  text-transform: uppercase;
}
.form-group .btn-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}
.form-group .checkbox {
  margin: 0;
}
.form-group .checkbox label {
  font-family: "Gudea", sans-serif;
  text-transform: none;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 10px;
}
.form-group .radio-inline {
  font-family: "Gudea", sans-serif;
  text-transform: none;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 0;
}

.form-control {
  -webkit-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  border: none;
  border-top: none !important;
  border-right: none !important;
  border-bottom: solid 1px #dce4e6 !important;
  border-left: none !important;
  border-radius: 0 !important;
  background: #f5f8f9 !important;
  box-shadow: none !important;
  color: black !important;
}

.form-control:focus {
  border-bottom-color: #90caf9 !important;
  background: #fff !important;
}

[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}

[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}

[data-toggle="collapse"] label {
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #525f66;
  text-transform: uppercase;
  margin-bottom: 0;
  cursor: pointer;
}

.card.update-collapse {
  padding-bottom: 5px;
}
.card.update-collapse .collapse-header {
  cursor: pointer;
}
.card.update-collapse .collapse-header span {
  color: #08a5dc;
}
.card.update-collapse .collapse-header:hover span {
  opacity: 0.5;
}
.card.update-collapse.update-social .form-group .input-group {
  margin-top: 10px;
}
.card.update-collapse .form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}
.card.update-collapse .form-group span {
  text-transform: uppercase;
  font-size: 11px;
  color: #525f66;
  font-family: "Montserrat", sans-serif;
  display: block;
  padding-top: 10px;
}
.card.update-collapse .form-group .input-group {
  margin-bottom: 5px;
}
.card.update-collapse .form-group .input-group .input-group-addon {
  border-radius: 0;
  border: none;
}
.card.update-collapse .form-group .help-block {
  font-size: 11px;
}
.card.update-collapse .form-group .input-group {
  margin-bottom: 5px;
}
.card.update-collapse .form-group .input-group .input-group-addon {
  border-radius: 0;
  border: none;
}

#update-info-collapse .alert {
  margin: 0 15px 15px;
  text-transform: none;
}
#update-info-collapse .alert span {
  font-size: 14px;
  line-height: 1.43;
  padding: 0;
  text-transform: none;
  font-family: "Open Sans", sans-serif;
}
#update-info-collapse .alert.alert-success {
  color: #4caf50;
  background: #f6fff7;
}
#update-info-collapse .alert.alert-success span {
  color: #4caf50;
  text-transform: none;
}
#update-info-collapse .alert.alert-danger {
  color: #f44336;
  text-transform: none;
}
#update-info-collapse .alert.alert-danger span {
  color: #f44336;
}

.no-padding {
  padding: 0;
}

.campaign-block {
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  position: absolute;
  display: block;
  opacity: 1;
  display: block;
  background: #9e9e9e;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 10px;
  height: 50px;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.campaign-block:active {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.campaign-block:active.article {
  background: #78abde;
}
.campaign-block:active.product {
  background: #a1ccf6;
}
.campaign-block .icon {
  color: #ffffff;
  position: absolute;
  height: 50px;
}
.campaign-block .icon img {
  width: 12px;
  position: absolute;
  top: 14px;
  left: 12px;
  opacity: 0.7;
}
.campaign-block .title {
  color: #fff;
  letter-spacing: 1px;
  overflow: hidden;
  line-height: 12px;
  position: absolute;
  padding: 19px;
  margin-left: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
  width: 60%;
}
.campaign-block .title span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.campaign-block .btn-container {
  float: right;
  text-align: right;
}
.campaign-block .btn-container ul {
  margin: 0;
  padding: 0;
}
.campaign-block .btn-container ul li {
  list-style: none;
  float: left;
}
.campaign-block .btn-container ul li:last-child a {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.campaign-block .btn-container ul li a {
  display: block;
  text-align: center;
  padding: 10px 10px 8px;
  min-width: 60px;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-transition: all 0.15s ease 0s;
          transition: all 0.15s ease 0s;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.campaign-block .btn-container ul li a.disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.campaign-block .btn-container ul li a i {
  font-size: 16px;
}
.campaign-block .btn-container ul li a.btn-add {
  color: #ffffff;
  background-color: #4caf50;
  border: 1px solid #4caf50;
}
.campaign-block .btn-container ul li a.btn-add:hover, .campaign-block .btn-container ul li a.btn-add:focus, .campaign-block .btn-container ul li a.btn-add:active {
  background: #388e3c;
}
.campaign-block .btn-container ul li a.btn-remove {
  color: #ffffff;
  background-color: #f44336;
  border: 1px solid #f44336;
}
.campaign-block .btn-container ul li a.btn-remove:hover, .campaign-block .btn-container ul li a.btn-remove:focus, .campaign-block .btn-container ul li a.btn-remove:active {
  background: #e53935;
}
.campaign-block .btn-container ul li a.btn-preview {
  color: #ffffff;
  background-color: #8b8c8c;
  border: 1px solid #8b8c8c;
}
.campaign-block .btn-container ul li a.btn-preview:hover, .campaign-block .btn-container ul li a.btn-preview:focus, .campaign-block .btn-container ul li a.btn-preview:active {
  background: #767676;
}
.campaign-block.article {
  background: #66a3e0;
}
.campaign-block.product {
  background: #87baec;
}

.campaign {
  background: #ffffff;
}
.campaign .partner-logo img {
  width: 100%;
}
.campaign .campaign-header {
  text-align: center;
  padding: 25px 15px;
}
.campaign .campaign-header .title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 34px;
  line-height: 36px;
  color: #474747;
}
.campaign .campaign-header .month-tag {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #999999;
  margin: 10px 0 0;
}
.campaign .edm .edm-banner img {
  width: 100%;
  max-width: 100%;
  display: block;
}
.campaign .edm .edm-content {
  text-align: center;
  padding: 25px 5px;
}
.campaign .edm .edm-content .edm-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
  line-height: 36px;
  color: #3a3a3a;
  margin-bottom: 15px;
}
.campaign .edm .edm-content .edm-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  padding: 0 20px;
}
.campaign .edm .edm-content .cta-button {
  display: block;
  padding: 25px 0;
  margin-top: 20px;
}
.campaign .edm .edm-content .cta-button a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  border-radius: 5px;
  padding: 14px 27px;
  border: solid 2px #13b5ea;
  background: #13b5ea;
}
.campaign .campaign-footer {
  background: #e3e3e3;
  padding: 25px 20px;
  display: table;
}
.campaign .campaign-footer .about {
  width: 50%;
  float: left;
}
.campaign .campaign-footer .about .about-title,
.campaign .campaign-footer .about .about-title p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: -0.05em;
  font-size: 26px;
  line-height: 24px;
  color: #626262;
  margin: 5px 0 20px;
}
.campaign .campaign-footer .about .about-text,
.campaign .campaign-footer .about .about-text p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #626262;
  line-height: 15px;
  text-align: left;
}
.campaign .campaign-footer .about .company-name,
.campaign .campaign-footer .about .company-name p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #626262;
  line-height: 15px;
  text-align: left;
  margin: 25px 0;
}
.campaign .campaign-footer .about .address {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #626262;
  line-height: 15px;
  text-align: left;
}
.campaign .campaign-footer .about .phone-number,
.campaign .campaign-footer .about .phone-number p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #626262;
  line-height: 15px;
  text-align: left;
}
.campaign .campaign-footer .about .website,
.campaign .campaign-footer .about .website p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #626262;
  line-height: 15px;
  text-align: left;
}
.campaign .campaign-footer .about .website span,
.campaign .campaign-footer .about .website p span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.campaign .campaign-footer .about .website a,
.campaign .campaign-footer .about .website p a {
  font-family: Arial, Helvetica, sans-serif;
  color: #00a6e0;
  font-weight: 300;
}
.campaign .campaign-footer .map {
  width: 50%;
  float: right;
}
.campaign .campaign-footer .map .title,
.campaign .campaign-footer .map .title p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: -0.05em;
  font-size: 26px;
  line-height: 24px;
  color: #626262;
  margin: 5px 0 20px;
  padding: 0 20px;
}
.campaign .campaign-footer .map .image {
  padding: 0 20px;
}
.campaign .campaign-footer .map .image img {
  width: 100%;
  max-width: 100%;
  border: 3px solid #ffffff;
}
.campaign .campaign-footer .social {
  width: 100%;
  display: table;
  padding: 20px 0;
}
.campaign .campaign-footer .social .title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: -0.05em;
  font-size: 26px;
  line-height: 24px;
  color: #626262;
  margin: 5px 0 10px;
}
.campaign .campaign-footer .social .links {
  border-bottom: 1px solid #ccc;
  height: 50px;
}
.campaign .campaign-footer .social .links ul {
  margin: 0;
  padding: 0;
}
.campaign .campaign-footer .social .links ul li {
  list-style: none;
  float: left;
  margin-right: 3px;
}
.campaign .campaign-footer .tagline,
.campaign .campaign-footer .message {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 24px;
  color: #666666;
  text-align: center;
  margin-bottom: 20px;
}
.campaign .campaign-footer .footer-links {
  text-align: center;
  width: 100%;
}
.campaign .campaign-footer .footer-links ul {
  text-align: center;
  padding: 0;
  margin: 0 auto;
}
.campaign .campaign-footer .footer-links ul li {
  list-style: none;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #13b5ea;
  text-align: center;
  text-transform: uppercase;
}
.campaign .campaign-footer .footer-links ul li a {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #13b5ea;
  text-align: center;
  text-transform: uppercase;
}
.campaign .campaign-footer .footer-links ul li a:hover {
  text-decoration: none;
}
.campaign .campaign-footer .footer-links ul li a:after {
  content: "|";
  margin-left: 3px;
}
.campaign .campaign-footer .footer-links ul li:last-child a:after {
  content: none;
  margin-left: 0;
}

div.page-loading {
  background: url("../images/loading.gif") no-repeat center;
  width: 100%;
  height: 300px;
}

div.page-loading-sm {
  background: url("../images/spin-sm.gif") no-repeat center;
  width: 100%;
  height: 100px;
}

.loading-content {
  padding-top: 10%;
}
.loading-content img {
  display: block;
  margin: 0 auto;
}

.tnc-modal {
  padding: 30px 5%;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
  position: relative;
}
.tnc-modal .title {
  margin-bottom: 30px;
}
.tnc-modal h5 {
  margin-top: 10px;
  margin-bottom: 15px;
}
.tnc-modal p {
  padding-bottom: 15px;
}
.tnc-modal .heading {
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 50px;
  position: relative;
}
.tnc-modal .heading span {
  position: absolute;
  left: -50px;
}
.tnc-modal ul {
  margin: 15px 0 20px 0;
  padding: 0;
  list-style: none;
}
.tnc-modal ul li {
  margin-left: 50px;
  position: relative;
}
.tnc-modal ul li span {
  position: absolute;
  left: -50px;
}
.tnc-modal ul ol {
  list-style-type: lower-latin;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.tnc-modal ul ol li {
  position: relative;
  padding-left: 20px;
  margin-left: 15px;
}

.uib-datepicker-popup .uib-button-bar .btn.btn-info,
.uib-datepicker-popup .uib-button-bar .btn.btn-danger {
  display: none;
}

ul.uib-datepicker-popup .uib-daypicker > table > tbody tr td button.btn[disabled] {
  background-color: #c1c1c1 !important;
}

.campaign-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}
.campaign-overlay .content-warning {
  width: 80%;
  text-align: center;
  background: #ffffff;
  padding: 30px;
  margin: 10% auto 0;
  color: #9e9e9e;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.campaign-overlay .content-warning h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #525f66;
  padding-bottom: 15px;
}
.campaign-overlay .content-warning .btn-wrapper {
  margin-top: 25px;
}

.schedule-date {
  min-width: 125px;
}

.schedule-time {
  min-width: 100px;
}

.alert-container {
  padding: 15px 0 0;
}
.alert-container .red {
  color: #f44336;
}
.alert-container .orange {
  color: #ff7043;
}
.alert-container .blue {
  color: #08a5dc;
}
.alert-container .green {
  color: #4caf50;
}
.alert-container .alert {
  margin-bottom: 0;
}

.header-container {
  padding: 20px 0 15px;
}
.header-container h1 {
  line-height: 0.7;
  font-size: 34px;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  padding-bottom: 15px;
  color: #525f66;
}
.header-container p {
  color: #525f66;
  font-size: 16px;
}

.tooltip .tooltip-inner {
  background: #424242;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #424242;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #424242;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #424242;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #424242;
}

.sched-tooltip .tooltip {
  width: 270px;
}
.sched-tooltip .tooltip .tooltip-inner {
  max-width: 270px;
}

.complete iframe {
  max-width: 700px;
  margin: 0 auto;
}

.one-click-message .lead {
  font-size: 21px;
  margin-bottom: 20px;
  font-weight: 300;
  line-height: 1.4;
}

.alert-danger {
  background: #ffebee;
  border-color: #f44336;
  color: #f44336;
}
.alert-danger h2 {
  font-weight: 400;
  color: #f44336;
  margin-top: 0;
}
.alert-danger p {
  color: #f44336;
  margin-bottom: 0;
}
.alert-danger a {
  color: #f44336;
}
.alert-danger .btn {
  color: #ffffff;
  text-decoration: none;
}

.hotjar-iframe {
  margin-bottom: 15px;
  background: #ffffff;
  border-radius: 3px;
}

.alert {
  margin-bottom: 0;
}

.modal-dialog-center {
  margin-top: 10%;
}

#intercom-container .intercom-launcher-discovery-frame,
#intercom-container .intercom-launcher-frame {
  right: 90px !important;
}

.article-library {
  padding: 15px 0;
}
.article-library .card {
  margin-bottom: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: #ffffff;
  border-radius: 3px;
  position: relative;
}
.article-library .article-search .help-block {
  margin-bottom: 0;
}
.article-library .articles-list .article-item .name a {
  font-weight: 600;
  margin: 0;
  padding: 0;
  position: relative;
}
.article-library .articles-list .article-item .name a:hover {
  text-decoration: none;
}
.article-library .articles-list .article-item .name a .label-success {
  position: relative;
  top: -2px;
  padding: .2em .6em;
  color: #5cb85c;
  border: 1px solid #5cb85c;
  background: #ffffff;
}
.article-library .articles-list .article-item .details {
  position: relative;
  color: #adadad;
  font-size: 12px;
  min-height: 15px;
}
.article-library .articles-list .article-item .details .date {
  position: absolute;
  left: 0;
}
.article-library .articles-list .article-item .details .date:after {
  content: "|";
  left: 5px;
  top: -1px;
  position: relative;
}
.article-library .articles-list .article-item .details .vertical {
  position: absolute;
  left: 70px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.article-library .articles-list .article-item .details .vertical li {
  display: inline;
}
.article-library .articles-list .article-item .details .vertical li::after {
  content: ",";
}
.article-library .articles-list .article-item .details .vertical li:last-child::after {
  content: " ";
}
.article-library .articles-list .table {
  margin-bottom: 0;
}
.article-library .articles-list .table tr td {
  border-top-color: #f5f5f5;
  vertical-align: middle;
}
.article-library .articles-list .table tr:first-child td {
  border-top-color: #ffffff;
}
.article-library .article-aside .card {
  padding: 0;
}
.article-library .article-aside .card .aside-heading {
  padding: 15px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  border-bottom: 5px solid #f5f5f5;
}
.article-library .article-aside .card .aside-heading .help-text {
  text-transform: none;
  font-weight: normal;
  margin: 5px 0 0;
  font-size: 14px;
  color: #888888;
}
.article-library .article-aside .card .vertical-container {
  padding: 15px;
}
.article-library .article-aside .card .vertical-container .cat-wrapper {
  display: table;
  width: 100%;
}
.article-library .article-aside .card .vertical-container .cat-wrapper .cat-col {
  width: 50%;
  float: left;
}
.article-library .article-aside .card .vertical-container .cat-wrapper .right {
  border-left: 1px solid #fff;
}
.article-library .article-aside .card .vertical-container .checkbox-wrapper input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}
.article-library .article-aside .card .vertical-container label.checkbox {
  display: block;
  position: relative;
  margin: 0;
  padding: 8px 30px 10px 30px;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: #08a5dc;
  background-color: #ffffff;
  white-space: wrap;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color 0.2s;
          transition: background-color 0.2s;
  width: 100%;
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
}
.article-library .article-aside .card .vertical-container label.checkbox::before {
  content: "";
  display: block;
  position: absolute;
  top: 11px;
  bottom: 10px;
  left: 10px;
  width: 13px;
  height: 13px;
  border: 1px solid #dddddd;
  border-radius: 0;
  -webkit-transition: background-color 0.2s;
          transition: background-color 0.2s;
}
.article-library .article-aside .card .vertical-container input:checked + label.checkbox {
  background-color: #08a5dc;
  color: #ffffff;
  padding: 8px 30px 10px 30px;
}
.article-library .article-aside .card .vertical-container input:checked + label.checkbox::before {
  content: "";
  display: block;
  position: absolute;
  top: 11px;
  bottom: 10px;
  left: 10px;
  width: 13px;
  height: 13px;
  border: 1px solid #007bff;
  border-radius: 0;
  -webkit-transition: background-color 0.2s;
          transition: background-color 0.2s;
}
.article-library .article-aside .card .vertical-container input:checked + label.checkbox::before {
  background-color: #007bff;
  border: 5px solid #ffffff;
}
.article-library .form-group label {
  margin-bottom: 5px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #333333;
}
.article-library .form-control {
  border: solid 1px #dce4e6 !important;
}

.alerts-container {
  position: relative;
}
.alerts-container .clipboardAlert {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 100%;
  max-width: 300px;
  z-index: 10;
  box-shadow: 0px 21px 65px 6px rgba(0, 0, 0, 0.2);
}

.articlepreviewcontent {
  padding: 15px;
}
.articlepreviewcontent h4 {
  font-family: "Open Sans";
  color: #212121;
  font-size: 24px;
}

.modal-content .banner {
  border-radius: 4px 4px 0 0;
}

@media only screen and (max-width: 480px) {
  .article-library .card {
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
  }
  .article-library .article-table .article-item .name a .label-success {
    position: absolute;
    left: -10px;
    top: -25px;
    padding: .4em .6em;
  }
  .article-library .article-table .article-item td {
    display: block;
    width: 100%;
    padding: 0 15px;
    border-top: #ffffff;
    border-bottom: #ffffff;
    border-left: 1px solid #dce4e6;
    border-right: 1px solid #dce4e6;
  }
  .article-library .article-table .article-item td:first-child {
    border-top: 1px solid #dce4e6 !important;
    display: none;
  }
  .article-library .article-table .article-item td:first-child {
    text-align: right;
    padding-top: 30px;
    padding-bottom: 0;
  }
  .article-library .article-table .article-item td:last-child {
    padding-top: 15px;
    padding-bottom: 30px;
  }
  .article-library .article-table .article-item td:nth-child(2) {
    padding: 30px 15px 0;
    border-top: 1px solid #dce4e6;
  }
  .article-library .article-table .article-item:first-child td:nth-child(2) {
    border-top: 1px solid #dce4e6;
  }
  .article-library .article-table .article-item:last-child td:last-child {
    border-bottom: 1px solid #dce4e6;
  }
}
body {
  padding-bottom: 100px;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*# sourceMappingURL=main.css.map */