body {
  color: #90A4AE;
  position: relative;
  margin-top: 56px;
  margin-bottom: 100px;
}

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand {
  text-transform: uppercase;
}

.navbar .navbar-brand small {
  position: relative;
}

.navbar .navbar-nav .nav-item {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.navbar .navbar-nav .nav-item .btn {
  margin-top: 3px;
}

.navbar .navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.navbar-light {
  background-color: #ffffff !important;
}

.navbar-light .navbar-brand {
  color: #233969;
  background-color: #ffffff !important;
}

.navbar-light .navbar-brand small {
  color: #233969;
}

ul.mainnav li {
  display: inline-block;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 0.8rem;
  font-weight: 600;
}

.pageheader {
  padding-bottom: 0;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.pageheader p {
  margin-bottom: 0;
}

.pageheader .btn {
  margin-top: 1.3rem;
}

.table {
  font-size: 0.8rem;
}

.table thead {
  background-color: #FAFAFA !important;
}

.table tfoot tr td .pagination {
  margin-top: 0.5rem;
}

.table tfoot tr td .pagination .page-count {
  color: #90A4AE;
}

.table tfoot tr td .pagination .page-count:hover {
  background: #ffffff;
}

.table tr th {
  font-size: 0.9rem;
  font-weight: 600;
  color: #233969;
  line-height: 0.9rem;
}

.table tr td {
  vertical-align: middle;
}

.table tr td .btn-sm {
  padding: 0 .5rem;
}

.pageheader {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pageheader h4 {
  color: #233969;
}

.pageheader p {
  font-size: 0.9rem;
}

.pageheader .text-muted {
  color: #B0BEC5 !important;
}

.searchfilter .card .card-body {
  padding: .5rem 1.5rem 0 1.5rem;
}

.searchfilter .card .card-body .fltr {
  padding-left: 5px;
  padding-right: 5px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #fafafa;
}

.form-signin {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .btn-dark {
  background-color: #233969;
}

.form-signin .btn-dark:hover {
  background-color: #223765;
}

.login-title {
  text-align: center;
  font-size: 1.5rem;
  padding: 1.25rem;
  font-weight: 600;
  color: #233969;
}

.login-title small {
  text-transform: uppercase;
  font-size: 1rem;
}

.form-group label {
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 0.9rem;
  font-weight: 600;
  color: #90A4AE;
  color: #233969;
}

.daterangepicker {
  position: relative;
  top: 240px !important;
}

.view-edit {
  margin-bottom: 1.75rem;
}

.view-edit .card .card-body {
  padding-top: 1.75rem;
  padding-bottom: .75rem;
}

.body-login {
  background-color: #fafafa;
}

.linkedin-signin {
  max-width: 360px;
  padding: 0 15px;
  margin: 0 auto;
}

.linkedin-signin .head {
  color: #233969;
  text-align: center;
}

.linkedin-signin .head h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.linkedin-signin .head p {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 700;
}

.linkedin-signin .bgimage {
  background-color: #ffffff;
  padding: 0;
  display: block;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.linkedin-signin .bgimage img {
  margin-bottom: 0.75rem;
}

.linkedin-signin .bgimage h1 {
  color: #233969;
  font-weight: 200;
  color: #ffffff;
  font-size: 1.8rem;
}

.linkedin-signin .button {
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  background-color: #ffffff;
}

.linkedin-signin .button h1 {
  color: #233969;
  font-weight: 200;
}

.linkedin-signin .button p {
  font-size: 0.75rem;
}

.linkedin-signin .button a {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 215px;
}

.fourofour {
  text-align: center;
}

.fourofour img {
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

.fourofour h4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #233969;
}

.fourofour .title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 700;
  color: #233969;
}

@media screen and (max-width: 991px) {
  .table tr th {
    display: block;
    display: none;
  }
  .table tr td {
    display: block;
    border-color: #ffffff;
    padding: 0.2rem 15px;
  }
  .table tr td span {
    font-weight: bold;
    margin-right: 10px;
    display: inline-block;
  }
  .table tr td .btn-sm {
    padding: .25rem .5rem;
  }
  .table tr td:first-child {
    border-top-color: #e8ebef;
    padding-top: 1rem;
  }
  .table tr td:last-child {
    border-bottom-color: #e8ebef;
    padding-bottom: 1rem;
  }
  .table.table-hover tr:hover td {
    border-color: #ececec;
  }
}

@media screen and (min-width: 767px) {
  .table tr td span {
    display: none;
  }
}

.form-control:disabled, .form-control[readonly] {
  background: #ffffff;
  border-radius: 0;
  color: #000000;
  border-color: #ffffff;
  padding-left: 0;
}

/*# sourceMappingURL=maps/style.css.map */
